@charset "UTF-8";
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard-dynamic-subset.css");
@import url("https://cdn.jsdelivr.net/gh/jonsuh/hamburgers/dist/hamburgers.min.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css");
@font-face {
  font-family: "NEXON Lv1 Gothic OTF";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "NEXON Lv1 Gothic OTF Bold";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF Bold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
html {
  margin: 0;
  font-size: 10px;
}

* {
  font-family: "Pretendard";
  box-sizing: border-box;
}

body {
  margin: 0;
  height: calc(100vh - 60px);
}

#wrapper {
  height: auto;
  min-height: 100%;
}

footer {
  height: 60px;
  position: relative;
  display: flex;
  width: 100%;
  padding: 15px;
  font-size: 1.2rem;
  background-color: #4b4b4b;
  align-items: center;
  justify-content: space-around;
  color: rgba(255, 255, 255, 0.8);
}
footer p {
  margin: 5px 0;
}
footer div:first-child {
  height: 24px;
}
footer div:last-child {
  text-align: right;
}
footer a {
  margin-right: 4px;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.7);
  transition: all 0.3s ease-in-out;
}
footer svg {
  fill: rgba(255, 255, 255, 0.8);
  transition: all 0.3s ease-in-out;
}
footer a:hover svg,
footer a:active svg,
footer a:focus svg {
  fill: #C0DEC7;
}
footer h4 {
  margin: 0;
  font-weight: bolder;
  font-size: 1.5rem;
}

@media screen and (max-width: 350px) {
  footer {
    flex-direction: column;
    align-items: center;
    padding: 4px 0 0 0;
    justify-content: center;
  }
  footer div * {
    text-align: left;
  }
}
b {
  font-weight: bolder;
}

/*버튼*/
.btn-box {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  margin-top: 20px;
  align-items: stretch;
  justify-content: space-between;
  bottom: 0;
}
.btn-box .btn {
  margin: 0;
}

.btn-box-grid {
  margin-top: 2rem;
  display: grid;
  grid: 1fr/2fr 2fr;
}
.btn-box-grid .btn-sm {
  grid-column: 1/3;
  background-color: #a3afb8;
}

.btn {
  font-family: "NEXON Lv1 Gothic OTF";
  display: inline-block;
  margin: 5px;
  border-radius: 4px;
  font-size: 1.3rem;
  color: #fff;
  padding: 8px 25px 8px 25px;
  border: none;
  letter-spacing: 0.02rem;
  background-color: #3a9488;
  outline: 0;
  cursor: pointer;
}
.btn:only-of-type(button) {
  float: right;
}

.btn-disabled {
  cursor: not-allowed;
  filter: grayscale(100);
}

.btn {
  transition: 0.3s ease-in;
  transition-property: background-color;
}

.btn i {
  transition: 0.5s ease-in-out;
  transition-property: transform;
}

.btn-sm {
  font-size: 1.2rem;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 15px;
  padding-right: 15px;
}

.btn-full {
  width: 100%;
}

.btn:focus {
  box-shadow: 0 0 0 3px rgba(58, 148, 136, 0.6), rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

.btn:hover,
.btn:focus {
  background-color: #2c695f;
}

textarea,
input {
  outline: none;
  resize: none;
  border: 0;
  border-radius: 2px;
}
textarea:active, textarea:focus,
input:active,
input:focus {
  box-shadow: inset 0 0 0 3px rgba(249, 213, 211, 0.6);
}

nav#float-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 4rem;
  left: 2rem;
  flex-wrap: wrap;
  flex-direction: column;
  width: 5rem;
  gap: 10px;
  z-index: 2;
}
nav#float-menu .f-menu ~ a {
  pointer-events: none;
}
nav#float-menu .f-menu.is-active ~ a {
  pointer-events: unset;
}
nav#float-menu > label, nav#float-menu > a {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
nav#float-menu .f-menu {
  transform-origin: bottom;
  transform: scale(0.8);
  background: #4b4b4b;
  padding: 12px 10px;
  width: 50px;
  border-radius: 50%;
  z-index: 20;
}
nav#float-menu .f-menu--1 {
  --color: rgb(243, 129, 129);
  --light-color:#FCE0E0;
}
nav#float-menu .f-menu--2 {
  --color: rgb(252, 227, 138);
  --light-color:#FEF8E2;
}
nav#float-menu .f-menu--3 {
  --color: rgb(149, 225, 211);
  --light-color:#E4F7F4;
}
nav#float-menu a {
  opacity: 0;
  position: relative;
  background: #efeff1;
  color: #36373d;
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.6rem;
  z-index: 1;
  animation-duration: 1s;
  transition: all 0.5s ease-out;
  text-decoration: none;
}
nav#float-menu a:hover, nav#float-menu a:focus, nav#float-menu a:active {
  background: var(--color);
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px, 0 2px 6px -2px inset var(--light-color);
}
nav#float-menu a:nth-of-type(4), nav#float-menu a:nth-of-type(8), nav#float-menu a:nth-of-type(9), nav#float-menu a:nth-of-type(10) {
  width: 3.4rem;
  height: 3.4rem;
  font-size: 1.8rem;
}
nav#float-menu a:nth-of-type(4):hover, nav#float-menu a:nth-of-type(4):focus, nav#float-menu a:nth-of-type(4):active, nav#float-menu a:nth-of-type(8):hover, nav#float-menu a:nth-of-type(8):focus, nav#float-menu a:nth-of-type(8):active, nav#float-menu a:nth-of-type(9):hover, nav#float-menu a:nth-of-type(9):focus, nav#float-menu a:nth-of-type(9):active, nav#float-menu a:nth-of-type(10):hover, nav#float-menu a:nth-of-type(10):focus, nav#float-menu a:nth-of-type(10):active {
  background: #4b4b4b;
  color: #efeff1;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
nav#float-menu a:nth-of-type(5), nav#float-menu a:nth-of-type(6), nav#float-menu a:nth-of-type(7) {
  width: 4px;
  height: 4px;
  background: #4b4b4b;
}
nav#float-menu .bounceIn ~ a {
  animation-duration: 0.75s;
  animation-name: bounceIn;
  animation-fill-mode: both;
}
nav#float-menu .bounceIn ~ a:nth-child(0) {
  animation-delay: 0s;
}
nav#float-menu .bounceIn ~ a:nth-child(1) {
  animation-delay: 0.2s;
}
nav#float-menu .bounceIn ~ a:nth-child(2) {
  animation-delay: 0.4s;
}
nav#float-menu .bounceIn ~ a:nth-child(3) {
  animation-delay: 0.6s;
}
nav#float-menu .bounceIn ~ a:nth-child(4) {
  animation-delay: 0.8s;
}
nav#float-menu .bounceIn ~ a:nth-child(5) {
  animation-delay: 1s;
}
nav#float-menu .bounceIn ~ a:nth-child(6) {
  animation-delay: 1.1s;
}
nav#float-menu .bounceIn ~ a:nth-child(7) {
  animation-delay: 1.2s;
}
nav#float-menu .bounceIn ~ a:nth-child(8) {
  animation-delay: 1.3s;
}
nav#float-menu .bounceIn ~ a:nth-child(9) {
  animation-delay: 1.5s;
}
nav#float-menu .bounceIn ~ a:nth-child(10) {
  animation-delay: 1.7s;
}
nav#float-menu .bounceIn ~ a:nth-child(11) {
  animation-delay: 1.9s;
}
nav#float-menu .bounceOut ~ a {
  opacity: 1;
  animation-duration: 0.75s;
  animation-name: bounceOut;
  animation-fill-mode: both;
}
nav#float-menu .bounceOut ~ a:nth-child(0) {
  animation-delay: 1s;
}
nav#float-menu .bounceOut ~ a:nth-child(1) {
  animation-delay: 0.8s;
}
nav#float-menu .bounceOut ~ a:nth-child(2) {
  animation-delay: 0.6s;
}
nav#float-menu .bounceOut ~ a:nth-child(3) {
  animation-delay: 0.4s;
}
nav#float-menu .bounceOut ~ a:nth-child(4) {
  animation-delay: 0.2s;
}
nav#float-menu .bounceOut ~ a:nth-child(5) {
  animation-delay: 0s;
}
nav#float-menu .hamburger-inner,
nav#float-menu .hamburger-inner:after,
nav#float-menu .hamburger-inner:before {
  width: 30px;
  height: 4px;
  background: #efeff1;
}

@keyframes bounceIn {
  from, 20%, 40%, 60%, 80%, to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  0% {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }
  20% {
    transform: scale3d(1.1, 1.1, 1.1);
  }
  40% {
    transform: scale3d(0.9, 0.9, 0.9);
  }
  60% {
    opacity: 1;
    transform: scale3d(1.03, 1.03, 1.03);
  }
  80% {
    transform: scale3d(0.97, 0.97, 0.97);
  }
  to {
    opacity: 1;
    transform: scale3d(1, 1, 1);
  }
}
@keyframes bounceOut {
  20% {
    transform: scale3d(0.9, 0.9, 0.9);
  }
  50%, 55% {
    opacity: 1;
    transform: scale3d(1.1, 1.1, 1.1);
  }
  to {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }
}
/* modal */
.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  height: 100vh;
  width: 100vw;
}

.modal-layer {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.6);
  overflow: visible;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  cursor: pointer;
}