@charset "UTF-8";
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard-dynamic-subset.css");
@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap");
@import url("source/hambuger.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css");
@font-face {
  font-family: "NEXON Lv1 Gothic OTF";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "NEXON Lv1 Gothic OTF Bold";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF Bold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
html {
  margin: 0;
  font-size: 10px;
}

* {
  font-family: "Pretendard";
  box-sizing: border-box;
}

body {
  margin: 0;
  height: calc(100vh - 60px);
}
body::-webkit-scrollbar-track-piece {
  background: transparent;
}

#wrapper {
  height: auto;
  min-height: 100%;
}

.top {
  padding: 0px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.top > h1 {
  font-family: "Fredoka One", cursive;
  font-size: 50px;
  font-weight: 400;
  color: #011a0f;
  text-shadow: 1px 1px 0 #adccc5, 3px 3px 0 #adccc5, 5px 5px 0 #adccc5, 7px 7px 0 #adccc5, 9px 9px 0 #adccc5;
}

footer {
  height: 60px;
  position: relative;
  display: flex;
  width: 100%;
  padding: 15px;
  font-size: 1.2rem;
  background-color: #4b4b4b;
  align-items: center;
  justify-content: space-around;
  color: rgba(255, 255, 255, 0.8);
}
footer p {
  margin: 5px 0;
}
footer div:first-child {
  height: 24px;
}
footer div:last-child {
  text-align: right;
}
footer a {
  margin-right: 4px;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.7);
  transition: color 0.3s ease-in-out;
}
footer svg {
  fill: rgba(255, 255, 255, 0.8);
  transition: all 0.3s ease-in-out;
}
footer a:hover svg,
footer a:active svg,
footer a:focus svg {
  fill: var(--main-color);
}
footer h4 {
  margin: 0;
  font-weight: bolder;
  font-size: 1.5rem;
}

@media screen and (max-width: 350px) {
  footer {
    flex-direction: column;
    align-items: center;
    padding: 4px 0 0 0;
    justify-content: center;
  }
  footer div * {
    text-align: left;
  }
}
b {
  font-weight: bolder;
}

/*버튼*/
.btn-box {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  margin-top: 20px;
  align-items: stretch;
  justify-content: space-between;
  bottom: 0;
}
.btn-box .btn {
  margin: 0;
}

.btn-box-grid {
  margin-top: 2rem;
  display: grid;
  grid: 1fr/2fr 2fr;
}
.btn-box-grid .btn-sm {
  grid-column: 1/3;
  background-color: #a3afb8;
}

:root {
  --btn-color: var(--main-color);
  --btn-hov: var(--main-dark);
  --btn-light: var(--main-light);
  --btn-lighter: var(--main-lighter);
}

.btn {
  font-family: "NEXON Lv1 Gothic OTF";
  display: inline-block;
  position: relative;
  margin: 5px;
  border-radius: 5px;
  font-size: 1.6rem;
  letter-spacing: 0.02rem;
  padding: 8px 25px 8px 25px;
  cursor: pointer;
  outline: 0;
  border: none;
  color: #fff;
  background-color: var(--btn-color);
  transition-duration: 0.3s;
  transition-property: background, box-shadow, transform;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  z-index: 0;
}
.btn:hover, .btn:focus {
  background-color: var(--btn-hov);
  transform: translateY(-6px);
  box-shadow: 0 6px 0 -2px var(--btn-light), 0 12px 0 -4px var(--btn-lighter), 0 14px 10px -3px var(--btn-lighter);
}
.btn:active {
  transition-duration: 0.2s;
  transform: translateY(-3px);
  box-shadow: 0 2px 0 -2px var(--btn-light), 0 9px 0 -4px var(--btn-lighter), 0 11px 10px -3px var(--btn-lighter);
}
.btn:only-of-type(button) {
  float: right;
}
.btn i {
  transition: 0.5s ease-in-out;
  transition-property: transform;
}

.btn-disabled {
  cursor: not-allowed;
  filter: grayscale(100);
}

.btn-sm {
  font-size: 1.2rem;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 15px;
  padding-right: 15px;
}

.btn-full {
  width: 100%;
}

.btn-red {
  --btn-color: #cc5c52;
  --btn-hov: #bc5248;
  --btn-light: #e5ada8;
  --btn-lighter: #f3dcda;
}

textarea,
input[type=text] {
  outline: none;
  resize: none;
  border: 0;
  border-radius: 0px;
}
textarea:active, textarea:focus,
input[type=text]:active,
input[type=text]:focus {
  box-shadow: inset 0 0 0 3px var(--main-light-06);
}

@supports (-webkit-appearance: none) or (-moz-appearance: none) {
  input[type=checkbox].ckbx,
  input[type=radio].ckbx {
    --active: var(--main-color);
    --active-inner: #F0F1F9;
    --focus: 3px var(--main-light-06);
    --border: #cbc9ce;
    --border-hover: var(--main-light);
    --background: transparent;
    --disabled: #f5f5f7;
    --disabled-inner: #d9d7dc;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    height: 21px;
    outline: none;
    display: inline-block;
    vertical-align: top;
    position: relative;
    margin: 0;
    cursor: pointer;
    border: 1px solid var(--bc, var(--border));
    background: var(--b, var(--background));
    transition: background 0.3s, border-color 0.3s, box-shadow 0.2s;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
  }
  input[type=checkbox].ckbx:after,
  input[type=radio].ckbx:after {
    content: "";
    display: block;
    left: 0;
    top: 0;
    position: absolute;
    transition: transform var(--d-t, 0.3s) var(--d-t-e, ease), opacity var(--d-o, 0.2s);
  }
  input[type=checkbox].ckbx:checked,
  input[type=radio].ckbx:checked {
    --b: var(--active);
    --bc: var(--active);
    --d-o: 0.3s;
    --d-t: 0.6s;
    --d-t-e: cubic-bezier(0.2, 0.85, 0.32, 1.2);
  }
  input[type=checkbox].ckbx:disabled,
  input[type=radio].ckbx:disabled {
    --b: var(--disabled);
    cursor: not-allowed;
    opacity: 0.9;
  }
  input[type=checkbox].ckbx:disabled :checked,
  input[type=radio].ckbx:disabled :checked {
    --b: var(--disabled-inner);
    --bc: var(--border);
  }
  input[type=checkbox].ckbx:disabled + label,
  input[type=radio].ckbx:disabled + label {
    cursor: not-allowed;
  }
  input[type=checkbox].ckbx:hover:not(:checked):not(:disabled),
  input[type=radio].ckbx:hover:not(:checked):not(:disabled) {
    --bc: var(--border-hover);
  }
  input[type=checkbox].ckbx:focus,
  input[type=radio].ckbx:focus {
    box-shadow: 0 0 0 var(--focus), rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
  }
  input[type=checkbox].ckbx:not(.switch),
  input[type=radio].ckbx:not(.switch) {
    width: 21px;
  }
  input[type=checkbox].ckbx:not(.switch):after,
  input[type=radio].ckbx:not(.switch):after {
    opacity: var(--o, 0);
  }
  input[type=checkbox].ckbx:not(.switch):checked,
  input[type=radio].ckbx:not(.switch):checked {
    --o: 1;
  }
  input[type=checkbox].ckbx + label,
  input[type=radio].ckbx + label {
    font-size: 1.4rem;
    line-height: 21px;
    display: inline-block;
    vertical-align: top;
    cursor: pointer;
    margin-left: 4px;
  }
  input[type=checkbox].ckbx {
    border-radius: 7px;
  }
  input[type=checkbox].ckbx:after {
    width: 5px;
    height: 9px;
    border: 2px solid var(--active-inner);
    border-top: 0;
    border-left: 0;
    left: 7px;
    top: 4px;
    transform: rotate(var(--r, 20deg));
  }
  input[type=checkbox].ckbx:checked {
    --r: 43deg;
  }
  input[type=checkbox].ckbx.switch {
    width: 38px;
    border-radius: 11px;
  }
  input[type=checkbox].ckbx.switch:after {
    left: 2px;
    top: 2px;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    background: var(--ab, var(--border));
    transform: translateX(var(--x, 0));
  }
  input[type=checkbox].ckbx.switch:checked {
    --ab: var(--active-inner);
    --x: 17px;
  }
  input[type=checkbox].ckbx.switch:disabled:not(:checked):after {
    opacity: 0.6;
  }
  input[type=radio].ckbx {
    border-radius: 50%;
  }
  input[type=radio].ckbx:after {
    width: 19px;
    height: 19px;
    border-radius: 50%;
    background: var(--active-inner);
    opacity: 0;
    transform: scale(var(--s, 0.7));
  }
  input[type=radio].ckbx:checked {
    --s: 0.5;
  }
  input[type=radio].ckbx:checked:after {
    opacity: 1;
  }
}
.update-desc {
  background-color: #fff;
  margin-bottom: 2rem;
  border-radius: 4px;
}
.update-desc .desc-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  font-size: 1.4rem;
  padding: 0.5rem 1.4rem;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  background: var(--menu-color);
}
.update-desc .desc-title .desc-version:before {
  content: "v ";
}
.update-desc .desc-title::before {
  content: attr(data-title);
  position: absolute;
  left: 4px;
  bottom: calc(100% - 0.6rem);
  font-size: 2rem;
  font-family: "NEXON Lv1 Gothic OTF Bold";
  font-weight: 700;
  color: var(--menu-color);
}
.update-desc .desc-content {
  font-family: "NEXON Lv1 Gothic OTF";
  color: #36373d;
  padding: 1rem 1.4rem;
  font-size: 1.4rem;
  line-height: 1.4;
}

nav#float-menu {
  --f-bg:#efeff1;
  --siz: 40px;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 5px;
  position: fixed;
  top: 15px;
  left: 10px;
  width: var(--siz);
  z-index: 2;
}
nav#float-menu .color-1 {
  --menu-color: #cc5c52;
}
nav#float-menu .color-2 {
  --menu-color: #dbac24;
}
nav#float-menu .color-3 {
  --menu-color: #97a570;
}
nav#float-menu .color-4 {
  --menu-color: #80a4be;
}
nav#float-menu .hamburger {
  --hamburger-color:#4b4b4b;
  z-index: 999;
  --siz:50px;
  width: var(--siz);
  height: var(--siz);
  border-radius: 6px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  background: #e9e9ef;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
nav#float-menu .hamburger-box, nav#float-menu .hamburger-inner, nav#float-menu .hamburger-inner:after, nav#float-menu .hamburger-inner:before {
  width: calc(var(--siz) - 16px);
}
nav#float-menu .hamburger .hamburger-inner, nav#float-menu .hamburger .hamburger-inner::after, nav#float-menu .hamburger .hamburger-inner::before {
  background-color: var(--hamburger-color);
}
nav#float-menu .hamburger.update {
  position: fixed;
  right: 10px;
  overflow: hidden;
}
nav#float-menu .hamburger.update i {
  color: var(--hamburger-color);
  font-size: 26px;
  flex-shrink: 0;
  transition: all 0.1s ease-in-out 0.3s;
}
nav#float-menu .hamburger.update i.fa-bullhorn ~ span {
  display: inline-block;
  height: 4px;
  width: calc(var(--siz) - 16px);
  position: absolute;
  top: 10px;
  right: 150px;
  background-color: var(--hamburger-color);
  transform: rotate(45deg);
}
nav#float-menu .hamburger.update i.fa-bullhorn ~ span:first-of-type {
  transform: rotate(-45deg);
}
nav#float-menu .hamburger.update .hamburger-box {
  transition: transform 0.55s 0.075s cubic-bezier(0.075, 0.82, 0.165, 1);
}
nav#float-menu .hamburger.update.is-active .hamburger-box {
  transform: translateX(150px);
}
@media screen and (min-width: 561px) {
  nav#float-menu .update-desc {
    opacity: 0.6;
    width: 36rem;
    position: fixed;
    top: 15px;
    right: 70px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    transform: translateX(calc(100% + 80px));
    transition: transform 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0.2s ease-in-out;
  }
  nav#float-menu .update-desc:hover {
    opacity: 1;
  }
  nav#float-menu .update.hamburger.is-active + .update-desc {
    transform: translateX(0);
  }
  nav#float-menu .menu-box {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 5px;
    transform: translateX(calc(-100% - 3rem));
    opacity: 0;
    pointer-events: none;
    transition: transform 0.2s ease-in-out, opacity 0.01s ease-in-out 0.2s;
  }
  nav#float-menu .hamburger.is-active + .menu-box {
    transform: translateX(0);
    opacity: 1;
    pointer-events: auto;
    transition-delay: 0.2s, 0s;
  }
  nav#float-menu a {
    display: flex;
    align-items: center;
    position: relative;
    background: var(--f-bg);
    color: #727075;
    width: var(--siz);
    height: var(--siz);
    border-radius: 6px;
    font-size: 2.6rem;
    z-index: 1;
    text-decoration: none;
    outline: none;
    transition: all 0.2s ease-in-out;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  }
  nav#float-menu a i {
    color: #9b959d;
    width: var(--siz);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    transition: all 0.2s ease-in-out;
  }
  nav#float-menu a:nth-child(1), nav#float-menu a:nth-child(2), nav#float-menu a:nth-child(3), nav#float-menu a:nth-child(4) {
    --siz:50px;
  }
  nav#float-menu a:nth-child(1) i, nav#float-menu a:nth-child(2) i, nav#float-menu a:nth-child(3) i, nav#float-menu a:nth-child(4) i {
    font-size: 32px;
  }
  nav#float-menu a:nth-child(1) > i {
    color: #cc5c52;
  }
  nav#float-menu a:nth-child(2) > i {
    color: #e6c565;
  }
  nav#float-menu a:nth-child(3) > i {
    color: #a7b386;
  }
  nav#float-menu a:nth-child(4) > i {
    color: #80a4be;
  }
  nav#float-menu a::after {
    content: attr(title);
    font-family: "NEXON Lv1 Gothic OTF";
    font-size: 16px;
    align-items: center;
    margin-left: 1.5rem;
    flex-basis: max-content;
    flex-shrink: 0;
    left: 0px;
    opacity: 0;
    background: var(--f-bg);
    border-radius: 5px;
    pointer-events: none;
    transition: all 0.2s ease-in-out;
  }
  nav#float-menu a:before {
    content: url("data:image/svg+xml,%3Csvg width='16' height='6' fill='%23efeff1' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 6s1.796-.013 4.67-3.615C5.851.9 6.93.006 8 0c1.07-.006 2.148.887 3.343 2.385C14.233 6.005 16 6 16 6H0z'/%3E%3C/svg%3E");
    transform: rotate(-90deg);
    position: absolute;
    right: -14px;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.2s ease-in-out;
  }
  nav#float-menu a:hover, nav#float-menu a:focus, nav#float-menu a:active {
    background: var(--main-color);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  }
  nav#float-menu a:hover i, nav#float-menu a:focus i, nav#float-menu a:active i {
    color: var(--main-lighter);
  }
  nav#float-menu a:hover::before, nav#float-menu a:focus::before, nav#float-menu a:active::before {
    opacity: 1;
    pointer-events: auto;
  }
  nav#float-menu a:hover::after, nav#float-menu a:focus::after, nav#float-menu a:active::after {
    opacity: 1;
    padding: 6px 10px 4px 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    pointer-events: auto;
  }
  nav#float-menu a:focus::after {
    background: linear-gradient(to right, var(--f-bg) 0%, var(--f-bg) calc(100% - 5px), var(--main-color) calc(100% - 5px));
  }
  nav#float-menu:has(a:hover, a:focus) a:not(a:hover, a:focus) {
    filter: blur(3px);
  }
}
@media screen and (max-width: 560px) {
  nav#float-menu {
    --f-bg: #efeff1;
  }
  nav#float-menu .hamburger.update {
    display: none;
  }
  nav#float-menu .update-desc {
    z-index: 999;
    width: calc(100vw - 4rem);
    margin: 1rem;
    position: relative;
    top: 52rem;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    transform: translateX(calc(-100% - 4rem));
    transition: transform 0.3s;
  }
  nav#float-menu .hamburger.is-active:not(.update) ~ .update-desc {
    transform: translateX(0);
  }
  nav#float-menu .menu-box {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    z-index: 998;
    position: fixed;
    width: 100vw;
    height: calc(100vh + 15px);
    left: 0;
    top: -15px;
    padding-top: 100px;
    padding: 120px 2rem 2rem 2rem;
    background: var(--f-bg);
    transform: translateX(calc(-100% - 3rem));
    pointer-events: none;
    transition: transform 0.3s;
  }
  nav#float-menu .hamburger.is-active + .menu-box {
    transform: translateX(0);
    pointer-events: auto;
  }
  nav#float-menu .menu-box > a {
    display: flex;
    align-items: center;
    position: relative;
    padding: 1rem;
    color: #727075;
    border-radius: 6px;
    font-size: 2.6rem;
    z-index: 1;
    text-decoration: none;
    outline: none;
    transition: 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition-property: background, color, transform;
  }
  nav#float-menu .menu-box > a:nth-child(5):hover, nav#float-menu .menu-box > a:nth-child(5):active, nav#float-menu .menu-box > a:nth-child(5):focus, nav#float-menu .menu-box > a:nth-child(6):hover, nav#float-menu .menu-box > a:nth-child(6):active, nav#float-menu .menu-box > a:nth-child(6):focus, nav#float-menu .menu-box > a:nth-child(7):hover, nav#float-menu .menu-box > a:nth-child(7):active, nav#float-menu .menu-box > a:nth-child(7):focus, nav#float-menu .menu-box > a:nth-child(8):hover, nav#float-menu .menu-box > a:nth-child(8):active, nav#float-menu .menu-box > a:nth-child(8):focus {
    color: var(--main-color);
  }
  nav#float-menu .menu-box > a:nth-child(1), nav#float-menu .menu-box > a:nth-child(2), nav#float-menu .menu-box > a:nth-child(3), nav#float-menu .menu-box > a:nth-child(4) {
    color: #fff;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    background-color: #4b4b4b;
    background-image: linear-gradient(to right, var(--menu-color) 0%, var(--menu-color) 100%);
    background-size: calc(var(--siz) + 2rem) 100%;
    background-position: left;
    background-repeat: no-repeat;
  }
  nav#float-menu .menu-box > a:nth-child(1):hover, nav#float-menu .menu-box > a:nth-child(1):active, nav#float-menu .menu-box > a:nth-child(1):focus, nav#float-menu .menu-box > a:nth-child(2):hover, nav#float-menu .menu-box > a:nth-child(2):active, nav#float-menu .menu-box > a:nth-child(2):focus, nav#float-menu .menu-box > a:nth-child(3):hover, nav#float-menu .menu-box > a:nth-child(3):active, nav#float-menu .menu-box > a:nth-child(3):focus, nav#float-menu .menu-box > a:nth-child(4):hover, nav#float-menu .menu-box > a:nth-child(4):active, nav#float-menu .menu-box > a:nth-child(4):focus {
    background-image: linear-gradient(to right, var(--menu-color) 0%, var(--menu-color) 100%);
    transform: scale(1.11);
    box-shadow: 0 0 10px 0px var(--menu-color);
    background-size: 100% 100%;
  }
  nav#float-menu .menu-box > a i {
    width: var(--siz);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
  }
  nav#float-menu .menu-box > a:nth-child(1) i, nav#float-menu .menu-box > a:nth-child(2) i, nav#float-menu .menu-box > a:nth-child(3) i, nav#float-menu .menu-box > a:nth-child(4) i {
    font-size: 32px;
  }
  nav#float-menu .menu-box > a:nth-child(1) > i {
    color: #f3dcda;
  }
  nav#float-menu .menu-box > a:nth-child(2) > i {
    color: #f7f0de;
  }
  nav#float-menu .menu-box > a:nth-child(3) > i {
    color: #e9ece1;
  }
  nav#float-menu .menu-box > a:nth-child(4) > i {
    color: #dfe8ef;
  }
  nav#float-menu .menu-box > a::after {
    content: attr(title);
    font-family: "NEXON Lv1 Gothic OTF";
    font-size: 2rem;
    align-items: center;
    margin-left: 2rem;
    font-weight: bolder;
    left: 0px;
  }
}

/* modal */
.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  height: 100vh;
  width: 100vw;
}

.modal-layer {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.6);
  overflow: visible;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  cursor: pointer;
}

@media screen and (max-width: 560px) {
  html:has(.hamburger.is-active) {
    overflow: hidden;
  }
}