@import 'import';
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard-dynamic-subset.css");
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

@font-face {
  font-family: 'NEXON Lv1 Gothic OTF';
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'NEXON Lv1 Gothic OTF Bold';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF Bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

html {
  margin: 0;
  font-size: 10px;
}
* {
  font-family: 'Pretendard';
  box-sizing: border-box;
}

$footerH : 60px;
$sponsorH : 100px;

body {
  margin: 0;
  height: calc(100vh);
}

#wrapper {
  height: auto;
  min-height: calc(100vh - $footerH - $sponsorH);
}
.top {
  padding: 0px 20px;
  @include centerboth;
  &>h1 {
    font-family: 'Fredoka One', cursive;
    font-size:50px;
    font-weight:400;
    color:#011a0f;
    text-shadow:
    1px 1px 0 $tealLight,
    3px 3px 0 $tealLight,
    5px 5px 0 $tealLight,
    7px 7px 0 $tealLight,
    9px 9px 0 $tealLight;
  }
  
}

footer{
  .sponsor {
    height:$sponsorH;
    background:#fff;
    padding-top:3rem;
    // padding-bottom:2rem;
    font-size:1.4rem;
    text-align: center;
    
    div:last-child {
      display:inline-block;
      position: relative;
      margin-top:0.6rem;
      background:$gray0e;
      font-size:1.6rem;
      border-radius: 5px;
      span {
        box-shadow:$btnShadow;
        display:inline-block;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
      }
      span:first-child {
        background:var(--main-color);
        color:#fff;
        padding: 5px 1em;
      }
      a,label {
        display:inline-flex;
        justify-content: center;
        padding: 5px 10px;
        cursor: pointer;
        color:$gray04;
        text-decoration: none!important;
        transition: all 0.2s ease-in-out;
        
        position:relative;
        &:visited {
          color:$gray04;
        }
        &:hover, &:focus, &:active {
          color:var(--main-dark);
          background:rgba(255,255,255,0.5);
        }
      }
      .qrimgbox {
        // display:none;
        visibility: hidden;
        width:200px;
        position: absolute;
        bottom:40px;
        overflow: hidden;
        border-radius: 5px;
        box-shadow:$btnShadow;
        opacity: 0;
        transition: all 0.3s ease-in-out;
        pointer-events: none;
        
        img {max-width:100%;}
      }
      label input:checked + .qrimgbox {
        // display:block;
        visibility: visible;
        opacity: 1;

      }
    }
  }
  
.footer {
  height: $footerH;
  position: relative;

  display: flex;
  width: 100%;
  padding: 15px;
  font-size: 1.2rem;
  background-color: $footerBg;
  align-items: center;
  justify-content: space-around;
  color: rgba(255, 255, 255, 0.8);

  p {
    margin: 5px 0;
  }
  div:first-child {
    height:24px;
  }
  div:last-child {
    text-align: right;
  }

  a {
    margin-right: 4px;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.7);
    transition: color 0.3s ease-in-out;
  }

  svg {
    fill: rgba(255, 255, 255, 0.8);
    transition: all 0.3s ease-in-out;
  }

  a:hover svg,
  a:active svg,
  a:focus svg {
    fill: var(--main-color);
  }

  h4 {
    margin: 0;
    font-weight: bolder;
    font-size: 1.5rem;
  }
}
}

@media screen and (max-width: 350px) {
  footer>.footer {
    flex-direction: column;
    align-items: center;
    padding: 4px  0 0 0;
    justify-content: center;
  }

  footer>.footer div * {
    text-align: left;
  }
}

b {
  font-weight: bolder;
}

/*버튼*/
.btn-box {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  margin-top: 20px;
  align-items: stretch;
  justify-content: space-between;
  bottom: 0;

  .btn {
    margin: 0;
  }
}

.btn-box-grid {
  margin-top: 2rem;
  display: grid;
  grid: 1fr / 2fr 2fr;
  .btn-sm {
    grid-column: 1 / 3;
    background-color: $btnReset;
  }
}
:root {
  // --btn-color: #{$teal};
  // --btn-hov: #{$tealContrast};
  // --btn-light: #{$tealLight};
  // --btn-lighter: #{$tealLighter};
  --btn-color: var(--main-color);
  --btn-hov: var(--main-dark);
  --btn-light: var(--main-light);
  --btn-lighter: var(--main-lighter);
}
.btn {
  font-family: 'NEXON Lv1 Gothic OTF';
  display: inline-block;
  position: relative;
  margin: 5px;
  border-radius: 5px;
  font-size: 1.6rem;
  letter-spacing: .02rem;
  padding: 8px 25px 8px 25px;
  cursor: pointer;
  outline: 0;

  border: none;
  color: #fff;
  background-color: var(--btn-color);
  transition: {
    duration: 0.3s;
    property: background, box-shadow, transform;
  }
  box-shadow:$btnShadow;
  z-index: 0;

  $btn-hov-shadow :0 6px 0 -2px var(--btn-light),
    0 12px 0 -4px var(--btn-lighter),
    0 14px 10px -3px var(--btn-lighter);
  &:hover,&:focus {
    background-color: var(--btn-hov);
    transform:translateY(-6px);
    box-shadow:$btn-hov-shadow;
  }
  // &:focus {
  //   box-shadow: 0 0 0 3px var(--btn-light), $btn-hov-shadow;
  // }

  &:active {
    transition-duration: 0.2s;
    transform:translateY(-3px);
    box-shadow:0 2px 0 -2px var(--btn-light),
    0 9px 0 -4px var(--btn-lighter),
    0 11px 10px -3px var(--btn-lighter);
  }

  &:only-of-type(button) {
    float: right;
  }
  
  i {
    transition: .5s ease-in-out;
    transition-property: transform;
  }
}

.btn-disabled {
  cursor: not-allowed;
  filter: grayscale(100);
}

.btn-sm {
  font-size: 1.2rem;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 15px;
  padding-right: 15px;
}

.btn-full {
  width: 100%;
}

.btn-red { // 버튼 색상 red
  --btn-color: #{$red};
  --btn-hov: #{$redContrast};
  --btn-light: #{$redLight};
  --btn-lighter: #{$redLighter};
}

textarea,
input[type='text'] {
  outline: none;
  resize: none;
  border:0;
  border-radius: 0px;

  &:active,
  &:focus {
    box-shadow: inset 0 0 0 3px var(--main-light-06);
  }
}

// -- checkbox & radio
@supports (-webkit-appearance: none) or (-moz-appearance: none) {
  input[type=checkbox].ckbx,
  input[type=radio].ckbx {
    // -- default color -- //
    // --main-color: #{$teal};
    // --main-dark: #{$tealContrast};
    // --main-darken: #{darken($tealContrast,15%)};
    // --main-light: #{$tealLight};
    // --main-light-06:#{rgba($tealLight,0.6)};
    // --main-lighter: #{$tealLighter};
    // ----------------- //
    $shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
    --active: var(--main-color);
    --active-inner: #F0F1F9;
    --focus: 3px var(--main-light-06);
    --border: #{$gray0c};
    --border-hover: var(--main-light);
    --background: transparent;
    --disabled: #{$gray0f};
    --disabled-inner: #{$gray0d};
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    height: 21px;
    outline: none;
    display: inline-block;
    vertical-align: top;
    position: relative;
    margin:0;
    cursor: pointer;
    border: 1px solid var(--bc, var(--border));
    background: var(--b, var(--background));
    transition: background 0.3s, border-color 0.3s, box-shadow 0.2s;
    box-shadow:$shadow;


    &:after {
      content: "";
      display: block;
      left: 0;
      top: 0;
      position: absolute;
      transition: transform var(--d-t, 0.3s) var(--d-t-e, ease), opacity var(--d-o, 0.2s);
    }
    &:checked {
      --b: var(--active);
      --bc: var(--active);
      --d-o: 0.3s;
      --d-t: 0.6s;
      --d-t-e: cubic-bezier(0.2, 0.85, 0.32, 1.2);
    }
    &:disabled {
      --b: var(--disabled);
      cursor: not-allowed;
      opacity: 0.9;
      :checked {
        --b: var(--disabled-inner);
        --bc: var(--border);
      }
      + label {
        cursor: not-allowed;
      }
    }

    &:hover:not(:checked):not(:disabled) {
      --bc: var(--border-hover);
    }

    &:focus {
      box-shadow: 0 0 0 var(--focus), $shadow;
    }
    &:not(.switch) {
      width: 21px;
      &:after {
        opacity: var(--o, 0);
      }
      &:checked {
        --o: 1;
      }
    }

    + label {
      font-size: 1.4rem;
      line-height: 21px;
      display: inline-block;
      vertical-align: top;
      cursor: pointer;
      margin-left: 4px;
    }
  }

  input[type=checkbox].ckbx {
    border-radius: 7px;
    &:after {
      width: 5px;
      height: 9px;
      border: 2px solid var(--active-inner);
      border-top: 0;
      border-left: 0;
      left: 7px;
      top: 4px;
      transform: rotate(var(--r, 20deg));
    }
    &:checked {
      --r: 43deg;
    }
  }

  input[type=checkbox].ckbx.switch {
    width: 38px;
    border-radius: 11px;
    &:after {
      left: 2px;
      top: 2px;
      border-radius: 50%;
      width: 15px;
      height: 15px;
      background: var(--ab, var(--border));
      transform: translateX(var(--x, 0));
    }
    &:checked {
    --ab: var(--active-inner);
    --x: 17px;
    }
    &:disabled:not(:checked):after {
      opacity: 0.6;
    }
  }

  input[type=radio].ckbx {
    border-radius: 50%;
    &:after {
      width: 19px;
      height: 19px;
      border-radius: 50%;
      background: var(--active-inner);
      opacity: 0;
      transform: scale(var(--s, 0.7));
    }
    &:checked {
      --s: 0.5;
      &:after {
        opacity:1;
      }
    }
  }
}
// ----------------- //

// - UPDATE 공통부분 - //
.update-desc {
  $rad:4px;
  background-color: #fff;
  margin-bottom:2rem;
  border-radius: $rad;
  $pad-side:1.4rem;
  .desc-title {
    display:flex;
    justify-content: space-between;
    align-items: center;
    color:#fff;
    
    font-size:1.4rem;
    padding: 0.5rem $pad-side;
    border-top-right-radius: $rad;
    border-top-left-radius: $rad;
    background:var(--menu-color);
    .desc-version {
      &:before {
        content:"v ";
      }
    }
      &::before {
        content:attr(data-title);
        position: absolute;
        left:$rad;
        bottom:calc(100% - 0.6rem);
        font-size:2rem;
        font-family: 'NEXON Lv1 Gothic OTF Bold';
        font-weight:700;
        color:var(--menu-color)
      }
    }
    .desc-content {
      font-family: 'NEXON Lv1 Gothic OTF';
      color:$textgray;
      padding: 1rem $pad-side;
      font-size:1.4rem;
      line-height: 1.4;
    }
}

// - FLOAT MENU ----------------- //
@import url("source/hambuger.css");
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css');

nav#float-menu {
  $menu-shadow:rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  $menu-hov-shadow:rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  --f-bg:#{$lightBg}; //#efeff1
  --siz: 40px;
  $rad: 6px;
  display:flex;
  align-items: flex-start;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 5px;
  position: fixed;
  top: 15px;
  left: 10px;
  width: var(--siz);
  z-index:2;
  .color-1 {--menu-color: #{$red};}
  .color-2 {--menu-color: #{darken($yellow,15%)};}
  .color-3 {--menu-color: #{darken($green,7%)};}
  .color-4 {--menu-color: #{$blue};}

  .hamburger {
    --hamburger-color:#{$footerBg};
    z-index:999;
    --siz:50px;
    width:var(--siz);
    height:var(--siz);
    border-radius:$rad;
    box-shadow: $menu-shadow;
    background:$gray0e;
    padding:0;
    @include centerboth;
    
    &-box, &-inner, &-inner:after, &-inner:before {
      width:calc(var(--siz) - 16px);
    }
    .hamburger-inner, .hamburger-inner::after, .hamburger-inner::before {
      background-color:var(--hamburger-color);
    }
    &.update {
      position:fixed;
      right:10px;
      overflow:hidden;
      i {
        color:var(--hamburger-color);
        font-size:26px;
        flex-shrink:0;
        transition: all 0.1s ease-in-out 0.3s;
      }
      i.fa-bullhorn~span {
        display:inline-block;
        height:4px;
        width:calc(var(--siz) - 16px);
        position:absolute;
        top:10px;
        right:150px;
        background-color:var(--hamburger-color);
        transform: rotate(45deg);
        &:first-of-type {
          transform: rotate(-45deg);
        }
      }
      .hamburger-box {
        transition:transform 0.55s 0.075s cubic-bezier(0.075, 0.82, 0.165, 1);
      }
      &.is-active .hamburger-box {
          transform:translateX(150px);
      }

    }
  }

@media screen and (min-width: 561px) {
  .update-desc {
    opacity:0.6;
    &:hover {
      opacity:1;
    }
    width:36rem;
    position: fixed;
    top:15px;
    right:70px;
    box-shadow: $menu-shadow;
    transform:translateX(calc(100% + 80px));
    transition:transform 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0.2s ease-in-out;
  }
  .update.hamburger.is-active {
    +.update-desc {
      transform: translateX(0);
    }
  }

  .menu-box {
    display:flex;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 5px;
    transform:translateX(calc(-100% - 3rem));
    opacity:0;
    pointer-events: none;
    
    transition: transform 0.2s ease-in-out, opacity 0.01s ease-in-out 0.2s;
  }
  .hamburger.is-active+.menu-box {
    transform:translateX(0);
    opacity:1;
    pointer-events: auto;
    transition-delay: 0.2s, 0s;
  }
  a {
    display: flex;
    align-items: center;
    position: relative;
    background: var(--f-bg);
    color: $gray07;
    width: var(--siz);
    height: var(--siz);
    border-radius: $rad;
    font-size: 2.6rem;
    z-index: 1;
    text-decoration:none;
    outline:none;
    transition: all 0.2s ease-in-out;
    box-shadow: $menu-shadow;

    i {
      color:$gray09;
      width:var(--siz);
      @include centerboth;
      flex-shrink: 0;
      transition: all 0.2s ease-in-out;
    }
    
    &:nth-child(1), &:nth-child(2), &:nth-child(3), &:nth-child(4){
      --siz:50px;
      i{font-size:32px}
    }
    &:nth-child(1)>i {color:$red}
    &:nth-child(2)>i {color:$yellow}
    &:nth-child(3)>i {color:$green}
    &:nth-child(4)>i {color:$blue}

    &::after {
      content:attr(title);
      
      font-family: 'NEXON Lv1 Gothic OTF';
      font-size:16px;
      align-items: center;
      margin-left:1.5rem;

      flex-basis:max-content;
      flex-shrink:0;

      left:0px;
      opacity:0;
      
      background:var(--f-bg);
      border-radius: 5px;
      pointer-events: none;
      transition: all 0.2s ease-in-out;
    }
    &:before {
      content:url("data:image/svg+xml,%3Csvg width='16' height='6' fill='%23efeff1' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 6s1.796-.013 4.67-3.615C5.851.9 6.93.006 8 0c1.07-.006 2.148.887 3.343 2.385C14.233 6.005 16 6 16 6H0z'/%3E%3C/svg%3E");
      transform: rotate(-90deg);
      position:absolute;
      right:-14px;
      opacity:0;
      pointer-events: none;
      transition: opacity 0.2s ease-in-out;
    }
    &:hover, &:focus, &:active {
      background:var(--main-color);
      box-shadow: $menu-shadow;
      i{color:var(--main-lighter);}
      &::before {
        opacity:1;
        pointer-events:auto;
      }
      &::after {
        opacity:1;
        padding:6px 10px 4px 10px;
        box-shadow: $menu-shadow;
        pointer-events:auto;
      }
    }
    &:focus::after {
      background:linear-gradient(to right, var(--f-bg) 0%, var(--f-bg) calc(100% - 5px), var(--main-color) calc(100% - 5px));
    }
  }
  &:has(a:hover,a:focus) a:not(a:hover, a:focus) {
    filter: blur(3px);
  }
}


@media screen and (max-width: 560px) {
  --f-bg: #{$lightBg};
  
  .hamburger.update {display:none;}
  .update-desc {
    z-index:999;
    width:calc(100vw - 4rem);
    margin:1rem;
    position: relative;
    top:52rem;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    transform:translateX(calc(-100% - 4rem));
    transition: transform 0.3s;
  }
  .hamburger.is-active:not(.update)~.update-desc {
    transform:translateX(0);
  }
  //---
  .menu-box {
    display:flex;
    flex-direction: column;
    gap:1.2rem;
    z-index:998;
    position:fixed;
    width:100vw;
    height:calc(100vh + 15px);
    left:0;
    top:-15px;
    padding-top: calc(30px + 50px + 20px);
    padding: 120px 2rem 2rem 2rem; 
    background:var(--f-bg);
    transform:translateX(calc(-100% - 3rem));
    pointer-events: none;
    transition: transform 0.3s;
  }
  .hamburger.is-active+.menu-box {
    transform:translateX(0);
    pointer-events:auto;
  }
  .menu-box>a {
    display: flex;
    align-items: center;
    position: relative;
    padding:1rem;
    
    color:$gray07;
    border-radius: $rad;
    font-size: 2.6rem;

    z-index: 1;

    text-decoration:none;
    outline:none;
    transition: 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition-property: background, color, transform;

    
    &:nth-child(5), &:nth-child(6), &:nth-child(7), &:nth-child(8) {
      &:hover, &:active, &:focus {
        color:var(--main-color);
      }
    }
    &:nth-child(1), &:nth-child(2), &:nth-child(3), &:nth-child(4) {
      color:#fff;
      box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
      background-color:$footerBg;
      background-image:linear-gradient(to right, var(--menu-color) 0%, var(--menu-color) 100%);
      background-size: calc(var(--siz) + 2rem) 100%;
      background-position:left;
      background-repeat:no-repeat;
      &:hover, &:active, &:focus {
        background-image:linear-gradient(to right, var(--menu-color) 0%, var(--menu-color) 100%);
        transform:scale(1.11);
        box-shadow: 0 0 10px 0px var(--menu-color);
        background-size:100% 100%;
      }
    }
    i {
      width:var(--siz);
      @include centerboth;
      flex-shrink: 0;
    }
    
    &:nth-child(1), &:nth-child(2), &:nth-child(3), &:nth-child(4){
      i{font-size:32px}
    }
    &:nth-child(1)>i {color:$redLighter}
    &:nth-child(2)>i {color:$yellowLighter}
    &:nth-child(3)>i {color:$greenLighter}
    &:nth-child(4)>i {color:$blueLighter}

    &::after {
      content:attr(title);
      font-family: 'NEXON Lv1 Gothic OTF';
      font-size:2rem;
      align-items: center;
      margin-left:2rem;
      font-weight:bolder;
      left:0px;
    }
  }
}
}
// ----------//

/* modal */
.modal {
  display:none;
  position:fixed;
  top:0;
  left:0;
  z-index:3;
  height: 100vh;
  width: 100vw;
}
.modal-layer {
  position:fixed;
  top:0;
  left:0;
  //z-index:1;
  height: 100vh;
  width: 100vw;
  background-color:rgba(0,0,0,0.6);
  overflow:visible;
  backdrop-filter:blur(5px);
  cursor: pointer;
}
@media screen and (max-width: 560px) {
  html:has(.hamburger.is-active:not(.update)) {
    overflow:hidden;
  }
  
}