doctype html
html(lang='ko')
  head
    // Google tag (gtag.js)
    script(async='' src='https://www.googletagmanager.com/gtag/js?id=G-5XZLTZKM5N')
    script.
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'G-5XZLTZKM5N');
      
    meta(charset='utf-8')
    meta(property="og:type" content="website")
    meta(property="og:locale" content="ko_KR")
    meta(name='viewport' content='width=device-width,initial-scale=1')
    meta(property="og:url" content="https://headdrop.github.io/RollingMint/")
    meta(property="og:image" content="https://raw.githubusercontent.com/headdrop/RollingMint/main/source/ogimg.png")
    meta(property="og:description" content="Roll20 보조도구 : 로그백업, 핸드아웃, 장면표")
    meta(property="og:title" content="Rolling Mint MAIN")
    meta(property="og:site_name" content="Rolling Mint")
    title Rolling Mint
    link(rel='icon' type='image/svg+xml' href='source/favicon.svg')
    link(rel='icon' type='image/png' href='source/favicon.png')

    link(rel='stylesheet' href='default.css')
    link(rel='stylesheet' href='main.css')
  body
    #wrapper
      .top
        h1.bounce-top R
        h1 olling Mint
      nav 
        a.card.card--1(href='log')
          .overlay     
          .circle
            <i class="fas fa-dice-d20"></i>
          h3 Roll20 로그변환
        a.card.card--2(href='handout')
          .overlay     
          .circle
            <i class="far fa-file-alt"></i>
          h3 인세인 GM 도우미
        a.card.card--3(href='labelmaker')
          .overlay     
          .circle
            <i class="fas fa-film"></i>
          h3 커스텀 장면표
        a.card.card--4(href='sheet-coc')
          .overlay 
          .circle 
            <i class="fa-solid fa-sheet-plastic"></i>
          h3 Roll20 CoC 캐릭터 시트
      section#update
        div.update-box
          .update-left 
            div U P D A T E
          .update-desc
            .desc-title
              span.desc-version v 5.0
              span.desc-date 2021.10.20
            .desc-content
              | 왼쪽의 사각형에 마우스를 올리면 업데이트 내용을 확인할 수 있습니다.
    footer#footer
    script(src="module.js")