@import 'import';
@mixin centerboth  {
  display:flex;
  justify-content: center;
  align-items: center;
}
body {
  background: #f2f4f8;
}
.top {
  overflow: hidden;
  padding: 0px 20px;
  @include centerboth;
  >div.box {
    position:relative;
  }
  h1 {
    display:inline-block;
    &:first-child {
      animation: bounce-top 1.2s both;
      z-index:-1;
    }
  }
    /* 제목 애니메이션 */
  @keyframes bounce-top {
    0% {
      transform: translateY(-45px);
      animation-timing-function: ease-in;
      opacity: 1;
    }
    24% {
      opacity: 1;
    }
    40% {
      transform: translateY(-24px);
      animation-timing-function: ease-in;
    }
    65% {
      transform: translateY(-12px);
      animation-timing-function: ease-in;
    }
    82% {
      transform: translateY(-6px);
      animation-timing-function: ease-in;
    }
    93% {
      transform: translateY(-4px);
      animation-timing-function: ease-in;
    }
    25%,
    55%,
    75%,
    87% {
      transform: translateY(0px);
      animation-timing-function: ease-out;
    }
    100% {
      transform: translateY(0px);
      animation-timing-function: ease-out;
      opacity: 1;
    }
  }
  .text {
    max-width: 500px;
    color:#444;
    font-size: 1.4rem;
    line-height: 1.5em;
  }
  h2 {
    margin-top:12px;
    font-size: 1.8rem;
    font-weight:bold;
    // color:$btnHovColor;
  }
  p:last-of-type {
    display: flex;
    justify-content: space-between;
    font-size: 1.1rem;
    color:#999;
    padding:5px;
  }
}

@mixin flexCenter {
  display:flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
}
.card {
  &--1 {
    --menu-color: #{brighter($red,17%)};
    --menu-color-light:#{lighten($red,40%)};
    --box-shadow-color: #{rgba($redLight,0.58)};
  }
  &--2 {
    --menu-color:#{brighter($yellow,10%)};
    --menu-color-light: #{lighten($brightYellowLight,3%)};
    --box-shadow-color: #{rgba($brightYellow, 0.58)};
  }
  &--3 {
    --menu-color: #{lighten(saturate($green,15%),6%)};
    --menu-color-light: #{brighter($green,34%)};
    --box-shadow-color: #{rgba($green,0.58)};
  }
  &--4 {
    --menu-color:#{brighter($blue,12%)};
    --menu-color-light:#{brighter($blueLight,15%)};
    --box-shadow-color: #{rgba($blue,0.58)};
  }
}
nav {
  padding: 50px 0 80px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  $boxSize : 150px;
  gap: 15px;
  .card {
    width: 220px;
    height: 321px;
    background: #fff;
    border-top-right-radius: 10px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    box-shadow: 0 14px 26px rgba(0,0,0,0.04);
    transition: all 0.3s ease-out;
    text-decoration: none;


    h3,p {
      color: $gray04;
      z-index: 1000;
    }
    h3 {
      transition: 0.3s ease-out;
      transition-property: color, box-shadow;
      font-family:'NEXON Lv1 Gothic OTF Bold';
      margin-top: 30px;
      font-size: 1.7rem;
      position:relative;
      padding-bottom:1px;
      box-shadow:0 5px 0 -1px var(--menu-color-light);
    }
    p {
      transition: opacity 0.2s ease-out;
      position:absolute;
      font-size:1.5rem;
      opacity:0;
      display: block;
      width:calc(100% - 3rem);
      height: 8rem;
      top: calc(100% - 11rem);
      padding: 5px;
      
    }
    &:hover {
      transform: translateY(-5px) scale(1.005) translateZ(0);
      box-shadow: 0 24px 36px rgba(0,0,0,0.11),
      0 24px 46px var(--box-shadow-color);
      .overlay {
        transform: scale(4) translateZ(0);
      }
      .circle {
        border-color: var(--menu-color-light);
        background: var(--menu-color);
        &::after {
          background: var(--menu-color-light);
        }
      }
      h3 {
        color: $textgray;
        background-size:100% 100%;
      }
      p {
        opacity:100%;
        transition-delay: 0.3s;
      }
    }
    &:active {
      transform: scale(1) translateZ(0);
      box-shadow: 0 15px 24px rgba(0,0,0,0.11),
        0 15px 24px var(--box-shadow-color);
    }
  }

  .circle {
    width: 131px;
    height: 131px;
    border-radius: 50%;
    background: #fff;
    border: 2px solid var(--menu-color);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
    transition: all 0.3s ease-out;

    &:after {
      content: "";
      width: 118px;
      height: 118px;
      display: block;
      position: absolute;
      background: var(--menu-color);
      border-radius: 50%;
      transition: opacity 0.3s ease-out;
    }
    i {
      z-index: 10000;
      transform: translateZ(0);
      font-size: 80px;
      color:white;
    }
  }
  .card {
    &:hover, &:active, &:focus {
      i {
        color: var(--menu-color);
      }
    }
  }

  .overlay {
    width: 118px;
    position: absolute; 
    height: 118px;
    border-radius: 50%;
    background: var(--menu-color);
    top: 70px;
    left: 50px;
    z-index: 0;
    transition: transform 0.3s ease-out;
  }
}

section#update {
  @include centerboth();
  $sqsiz:14px;
  flex-direction: column;
  $rad:4px;
  .update-box {
    display:flex;
    align-items: flex-start;
    width: 560px;
    max-width: calc(100% - 2rem);
    gap:2rem;
    margin-bottom:1rem;
  }
  .update-left {
    width: calc($sqsiz * 4 + 2px * 3 + 1rem);
    background:#fff;
    flex-shrink: 0;
    flex-grow:0;
    padding:0.5rem;
    border-radius: $rad;
    box-shadow: 0 14px 26px rgba(0,0,0,0.04);
    >div:first-child {
      @include centerboth();
      height: 2.4rem;
    }
  }
  .update-desc {
    width:100%;
    position: relative;
    box-shadow: 0 14px 26px rgba(0,0,0,0.04);

    
    &::after {
      content:url("data:image/svg+xml,%3Csvg width='16' height='6' fill='%23ffffff' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 6s1.796-.013 4.67-3.615C5.851.9 6.93.006 8 0c1.07-.006 2.148.887 3.343 2.385C14.233 6.005 16 6 16 6H0z'/%3E%3C/svg%3E");;
      display:inline-block;
      position:absolute;
      transform:rotate(-90deg);
      top: calc(2.4rem + 4px);
      left: -12px;
    }
  }
  .version-num {
    display:flex;
    gap:2px;
    margin-top:2px;
    position: relative;
    >div {
      display:inline-block;
      width:$sqsiz;height:$sqsiz;
      border-radius: 2px;
      background:$gray0e;
      box-shadow: rgba(0, 0, 0, 0.08) 0px 3px 5px;
      &.is-update {
        background:var(--menu-color);
        cursor:help;
        transition: transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);

        &:hover, &:focus, &:active {
          z-index:11;
          transform:scale(1.8);
          box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;

        }
      }
    }
  }
}

//sponsor 가리기
footer>.sponsor {display:none;}