@font-face {
  font-family: "IM Fell DW Pica";
  font-style: normal;
  font-weight: 400;
  src: url("https://fonts.gstatic.com/s/imfelldwpica/v16/2sDGZGRQotv9nbn2qSl0TxXVYNwNYwnV.woff2") format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
* {
  font-family: "Pretendard";
}

*:focus {
  outline: none;
}

:root {
  --main-color: #5b9a8b;
  --main-dark: #3f7d6c;
  --main-darken: #254a40;
  --main-light: #adccc5;
  --main-light-06:rgba(215, 207, 227, 0.6);
  --main-lighter: #d6e6e2;
  --sub-color:#2e5b4f;
  --sub-accent-light:#f3dcda;
  --accent-light:#ebe7f1;
  --border-color:#d9d7dc;
}

input {
  display: none;
}

.menu {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: str;
  gap: 10px;
  background-color: #e9e9ef;
  padding-top: 10px;
  font-size: 1.7rem;
  font-weight: 800;
}
.menu p {
  margin: 0;
  padding: 0;
  font-size: smaller;
  font-weight: 300;
}

.menu label {
  padding: 10px;
  text-align: center;
  cursor: pointer;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  transition: 0.3s ease-in;
  transition-property: background-color;
}
.menu label:hover, .menu label:focus, .menu label:active {
  background-color: rgba(255, 255, 255, 0.8);
}
.menu label:nth-of-type() {
  background-color: white;
}

.tabCon {
  display: none;
  flex-direction: column;
  align-items: center;
  left: 0;
  width: 100%;
  padding-top: 20px;
  font-size: 1.4rem;
}

input:checked + .tabCon {
  display: flex;
}

.content + * {
  margin-top: 20px;
}

.setting input {
  display: inline-block;
}

#insane + .tabCon .content table {
  border-collapse: collapse;
  border: 2px solid #222;
  text-indent: none;
  font-size: 16px;
  width: 600px;
  max-width: 600px;
  background-color: white;
}
#insane + .tabCon .content table td {
  border: 1px solid #444;
  padding: 2px 5px;
  vertical-align: middle;
  line-height: 2.2rem;
}
#insane + .tabCon .content table td:nth-of-type(1) {
  table-layout: fixed;
  width: 40px;
}
#insane + .tabCon .content table td:nth-of-type(2) {
  min-width: 10rem;
}
#insane + .tabCon .content table td:nth-of-type(3), #insane + .tabCon .content table td:nth-of-type(4) {
  min-width: 8rem;
}
#insane + .tabCon .content table td:nth-of-type(5) {
  min-width: 6.4rem;
}
#insane + .tabCon .content table .title tr:first-child {
  font-size: 25px;
  height: 4rem;
}
#insane + .tabCon .content table .title tr:first-child td:first-of-type {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABUAAAAgCAYAAAD9oDOIAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAATDQAAEw0BqwPgTQAAABl0RVh0U29mdHdhcmUAd3d3Lmlua3NjYXBlLm9yZ5vuPBoAAAJpSURBVEiJ5Za/btNQFMa/c+zyr0WhsR3bCaWp40q0VAUh2oUVVWWFoYKFjZWdBQZegpWNB+AZWEAV0A5UphSoSpxEKiCVqmm4hwFSEfvGcdSRM57znZ8/3+tzfQkZETjONDGWwdIGoAAwFJ0wwC824ngzq1cbYbm0VHOdFQCUKFHg2nfCcmlpOKBXnA380q0sTeCXbk/71kxuaOA6D46jY03OIJafeaDEsq9jpBKh5xVB3MwDBbgZep41EIqxsR9QUsiDFJFzJ63694HQKIoOAJzNAyVgdH0d7cFOAQiwOVUqzWcBpyvOFRAi7cMC172hb/t1Tww8+bjTep+sVMvWRUPRQxHjma7TZKgFBj9Pl4xH7UOl/woO+ZvB/FhXUlArprC0Nr4ON3JbzWa9X63m2y3tmh43/nOoKYpnar59v5sgYRMKq1Gj8XJQc61cnIDwTRLa7eZExEsJpzxrMSzbV/M4mnfd0cC17ybzqdc3hOYLO613eaBv43iPOD3SKagiHnkNHOaB9ov0RhFkGIAIZ5+nwfh4gZTsJkWZroR2qo7Tszk9UBkZWSShV8NAO0RvTJMu94WyoYKo0dCeA2GleF6X36rXPwnUZH+nYAK0a0ro8HIfs4LEbzzXRIWeZwv4Wh5tD3TK9ych8lknUtSZzDQgdFCtVk+loIZ0FkhYu0kEngCpL0jfVv4wodbN9t7RxeIIqojsD3Hc0FtRjghWw0qxoqu2zdNrEJpLQSF6F12zisw1KPOSrri9vb0vUGeSUINFZY7m30/nQpamGyYABK47K6zm/j0CEzYtAEJCtX4aCK4DeAoAvwGACr75G8wvagAAAABJRU5ErkJggg==");
  background-position: 6px;
  background-repeat: no-repeat;
  padding-left: 40px;
  border-right: 0px;
  font-weight: 600;
}
#insane + .tabCon .content table .title tr:first-child td:nth-of-type(2) {
  padding-left: 10px;
  border-left: 0px;
  font-weight: 800;
}
#insane + .tabCon .content table .title tr:nth-child(2) {
  background-color: #CCC;
  text-align: center;
  font-weight: 600;
  font-size: 18px;
}
#insane + .tabCon .content table .title tr:nth-child(2) td:first-of-type {
  font-size: 14px;
}
#insane + .tabCon .content tbody.cont tr {
  position: relative;
}
#insane + .tabCon .content tbody.cont tr span {
  position: absolute;
  right: calc(100% + 10px);
  cursor: pointer;
  display: inline-block;
  width: 25px;
  height: 25px;
}
#insane + .tabCon .content tbody.cont td:first-of-type, #insane + .tabCon .content tbody.cont td:nth-of-type(3), #insane + .tabCon .content tbody.cont td:nth-of-type(4) {
  text-align: center;
}
#insane + .tabCon .content tbody.cont td:nth-of-type(2) {
  font-size: 18px;
  font-weight: 800;
}

#insaneHO:checked ~ .bottom > #down {
  display: none;
}

#insane:checked ~ .bottom > #downHO,
#insane:checked ~ .bottom > #downHO ~ p {
  display: none;
}

#downHO ~ p {
  position: absolute;
  color: #09201F;
  font-size: small;
  font-family: "NEXON Lv1 Gothic OTF";
  text-align: center;
  width: 100%;
  top: 100%;
}

#insaneHO + .tabCon {
  font-size: 16px;
}
#insaneHO + .tabCon .content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 3rem;
}
#insaneHO + .tabCon .item {
  position: relative;
  display: grid;
  grid-template: 30px 90px/250px 250px 100px;
  grid-auto-flow: column;
  gap: 5px;
}
#insaneHO + .tabCon .item > textarea, #insaneHO + .tabCon .item > input {
  font-size: 1.6rem;
  overflow-y: auto;
}
#insaneHO + .tabCon .item button.copy {
  padding: 5px;
  margin: 0 0 1rem 0;
}
#insaneHO + .tabCon .item button.remove {
  position: absolute;
  display: inline-block;
  top: 0;
  right: 100%;
  width: 30px;
  padding: 5px;
  margin: 0 10px 0 0;
}
#insaneHO + .tabCon input[type=text] {
  display: inline-block;
  border: 1px solid var(--border-color);
}
#insaneHO + .tabCon textarea {
  resize: none;
  border: 1px solid var(--border-color);
}
#insaneHO + .tabCon .controls {
  grid-row: 1/span 2;
}
#insaneHO + .tabCon .ho-output * {
  font-family: unset;
}
#insaneHO + .tabCon .ho-output {
  position: absolute;
  top: -4000000px;
  width: 100%;
  font-family: unset;
}
#insaneHO + .tabCon .ho-output > div {
  width: 250px;
}
#insaneHO + .tabCon .ho-output * {
  box-sizing: border-box;
}
#insaneHO + .tabCon .ho-box * {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
#insaneHO + .tabCon table, #insaneHO + .tabCon table * {
  padding: 0;
  border: none;
}
#insaneHO + .tabCon table {
  border-collapse: collapse;
  border-spacing: 0;
  margin-bottom: 0;
}
#insaneHO + .tabCon table > tbody > tr {
  display: flex;
  align-items: stretch;
}
#insaneHO + .tabCon table td {
  padding: 3px;
  box-sizing: border-box !important;
  vertical-align: middle;
  flex-grow: 1;
}
#insaneHO + .tabCon table td:first-child {
  border-right: solid 1px black;
  text-align: center;
  width: 45px;
  flex-basis: calc(2em + 10px);
  flex-shrink: 0;
}
#insaneHO + .tabCon .ho-front, #insaneHO + .tabCon .ho-back {
  display: inline-block;
}
#insaneHO + .tabCon .ho-front {
  border: 1px solid black;
  background-color: white;
  color: black;
  padding: 4px;
}
#insaneHO + .tabCon .ho-front * {
  line-height: normal;
  color: black;
}
#insaneHO + .tabCon .ho-front > div:first-child {
  text-align: center;
  font-family: "IM Fell DW Pica", "Times New Roman";
  font-size: 24px;
  font-weight: 900;
}
#insaneHO + .tabCon .ho-front .ho-border {
  border: solid 3px black;
  padding: 2px;
  text-align: initial;
}
#insaneHO + .tabCon .ho-front .ho-box {
  padding-bottom: 1px;
  background-color: white;
  border: 1px solid black;
}
#insaneHO + .tabCon .ho-front .ho-box span:first-child {
  border-right: 1px solid black;
  display: inline-block;
  padding: 3px 6px;
}
#insaneHO + .tabCon .ho-front .ho-box div:first-of-type {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  text-align: center;
}
#insaneHO + .tabCon .ho-front .ho-box-content {
  padding: 1px 3px 0 3px;
  margin-bottom: -1px;
  background-image: linear-gradient(to right, transparent 0, transparent 8px, white 8px, white 12px), linear-gradient(to bottom, white 0, white 44px, #888 44px, #888 44px);
  background-size: 12px 45px;
  background-repeat: repeat;
  line-height: 22.5px;
}
#insaneHO + .tabCon .ho-back {
  background-color: black;
  border: 1px solid black;
  padding: 4px;
}
#insaneHO + .tabCon .ho-back * {
  line-height: normal;
}
#insaneHO + .tabCon .ho-back > div:first-child {
  text-align: center;
  color: white;
  font-family: "IM Fell DW Pica", "Times New Roman";
  font-size: 24px;
  font-weight: 900;
}
#insaneHO + .tabCon .ho-back .ho-border {
  border: solid 3px white;
  padding: 2px;
  text-align: initial;
}
#insaneHO + .tabCon .ho-back .ho-border * {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
#insaneHO + .tabCon .ho-back .ho-border > div:first-child {
  text-align: center;
  color: white;
  border-bottom: 3px solid black;
}
#insaneHO + .tabCon .ho-back .ho-box {
  padding-bottom: 1px;
  background-color: white;
}
#insaneHO + .tabCon .ho-back .ho-box div:first-of-type {
  border-top: 1px solid black;
}
#insaneHO + .tabCon .ho-back .ho-box-content {
  padding: 1px 3px 0 3px;
  margin-bottom: -1px;
  background-image: linear-gradient(to right, transparent 0, transparent 8px, white 8px, white 12px), linear-gradient(to bottom, white 0, white 44px, #888 44px, #888 44px);
  background-size: 12px 45px;
  background-repeat: repeat;
  line-height: 22.5px;
}
#insaneHO + .tabCon .ho-back .ho-box-2 {
  color: #DDDDDD;
  font-family: "KopubWorldBatang", "KopubBatang", Batang;
  font-size: 12px;
  padding: 4px 0 1px 0;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
#insaneHO + .tabCon .ho-back .ho-box-2 img {
  width: 32px !important;
  transform: rotate(-10deg);
  margin-right: -10px;
}
#insaneHO + .tabCon .ho-box-content {
  text-align: justify;
}

span.bold {
  font-weight: 600;
}

.bottom {
  display: flex;
  position: relative;
  justify-content: center;
  margin: 20px 0 50px 0;
}