@charset "UTF-8";
:root {
  --main-color: #5b9a8b;
  --main-dark: #3f7d6c;
  --main-darken: #254a40;
  --main-light: #adccc5;
  --main-light-06:rgba(215, 207, 227, 0.6);
  --main-lighter: #d6e6e2;
  --sub-color:#af9fc7;
  --sub-accent-light:#f3dcda;
  --accent-light:#ebe7f1;
  --border-color:#d9d7dc;
}

div.notice {
  display: block;
  text-align: center;
  font-size: 1.6rem;
  margin-bottom: 2rem;
  color: #4b4a4d;
}
div.notice i {
  font-size: 1.6em;
  color: var(--sub-color);
}

div.container {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  font-size: 1.6rem;
  align-items: flex-start;
  justify-content: center;
}
div.container > div {
  width: 315px;
}
@media screen and (max-width: 980px) {
  div.container {
    flex-direction: column;
    align-content: center;
  }
}

.btn {
  margin: auto;
  width: 50%;
  display: block;
  font-size: 1.6rem;
}

#preview {
  resize: horizontal;
  min-width: 315px;
}
#preview * {
  font-family: unset;
}

#controler input[type=checkbox] ~ span {
  font-size: 1.2rem;
  color: #444;
  margin: 5px 0;
}
#controler input[type=checkbox] ~ textarea {
  resize: none;
}
#controler input[type=checkbox] ~ * {
  display: none;
  width: 100%;
}
#controler input[type=checkbox]:checked ~ * {
  display: block !important;
}
#controler *:not(i) {
  font-family: "NEXON Lv1 Gothic OTF";
}

.con-item {
  display: grid;
  grid: 1fr/1fr 1fr 1fr;
  gap: 5px;
  background: #D2D7DF;
  border-radius: 5px;
  padding: 8px;
  margin-bottom: 10px;
}
.con-item::before {
  display: block;
  text-align: center;
  width: 100%;
  grid-column: 1/4;
  font-size: 2.5rem;
  font-weight: 900;
  margin-bottom: 5px;
}
.con-item#sc-title::before {
  content: "~번째 ~의 장면";
}
.con-item#sc-bottom::before {
  content: "등장인물";
}

.item {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.item i {
  font-size: 2rem;
  vertical-align: middle;
}

.colspan {
  grid-column: 1/4;
}

div.sp-replacer {
  position: relative;
  height: 3rem;
  margin: 0;
  margin-left: 5px;
  width: 60%;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

.sp-preview-inner {
  color: #fff;
  padding: 2px;
}

.sp-replacer .sp-dd {
  display: none !important;
}

#sc-scene {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
#sc-scene::before {
  content: "장면표";
}
#sc-scene div span {
  margin-right: 5px;
}
#sc-scene input[type=text] {
  width: 30%;
  font-size: 1.5rem;
}
#sc-scene #emo {
  width: 50px;
}

#outputbox #output {
  width: 100%;
  margin-bottom: 5px;
  border: 1px solid var(--border-color);
}