@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+KR&display=swap');
.sheet-rolltemplate-modulation-table,.sheet-rolltemplate-fate-mutation-table,.sheet-rolltemplate-ordinary-scene-table,.sheet-rolltemplate-fumble-table,.sheet-rolltemplate-event-table {
width: 500px;
max-width: 100%;
display: table;
table-layout: fixed;
word-break: keep-all;
text-align: center;
}

.sheet-rolltemplate-modulation-table .sheet-template-top,.sheet-rolltemplate-fate-mutation-table .sheet-template-top,.sheet-rolltemplate-ordinary-scene-table .sheet-template-top,.sheet-rolltemplate-fumble-table .sheet-template-top,.sheet-rolltemplate-event-table .sheet-template-top {
height: 25px;
padding: 0px;
margin: 0px;
display: table-row;

}
.sheet-rolltemplate-modulation-table .sheet-template-top .sheet-left,.sheet-rolltemplate-fate-mutation-table .sheet-template-top .sheet-left,.sheet-rolltemplate-ordinary-scene-table .sheet-template-top .sheet-left,.sheet-rolltemplate-fumble-table .sheet-template-top .sheet-left,.sheet-rolltemplate-event-table .sheet-template-top .sheet-left {
width: 30px;
height: 25px;
display: table-cell;
background-image: url('https://imgsrv.roll20.net//?src=https%3A%2F%2Fraw.githubusercontent.com%2FRoll20%2Froll20-character-sheets%2Fmaster%2FMagica_Logia%2Fimg%2Ft_corner.png');
background-repeat: no-repeat;
background-position: left top;
background-size: 100px;
}
.sheet-rolltemplate-modulation-table .sheet-template-top .sheet-center,.sheet-rolltemplate-fate-mutation-table .sheet-template-top .sheet-center,.sheet-rolltemplate-ordinary-scene-table .sheet-template-top .sheet-center,.sheet-rolltemplate-fumble-table .sheet-template-top .sheet-center,.sheet-rolltemplate-event-table .sheet-template-top .sheet-center {
height: 25px;
display: table-cell;
background-image: url('https://imgsrv.roll20.net//?src=https%3A%2F%2Fraw.githubusercontent.com%2FRoll20%2Froll20-character-sheets%2Fmaster%2FMagica_Logia%2Fimg%2Fthline.png');
background-repeat: repeat-x;
background-size: auto 40px;
background-position: top;
}
.sheet-rolltemplate-modulation-table .sheet-template-top .sheet-right,.sheet-rolltemplate-fate-mutation-table .sheet-template-top .sheet-right,.sheet-rolltemplate-ordinary-scene-table .sheet-template-top .sheet-right,.sheet-rolltemplate-fumble-table .sheet-template-top .sheet-right,.sheet-rolltemplate-event-table .sheet-template-top .sheet-right {
width: 30px;
height: 25px;
display: table-cell;
background-image: url('https://imgsrv.roll20.net//?src=https%3A%2F%2Fraw.githubusercontent.com%2FRoll20%2Froll20-character-sheets%2Fmaster%2FMagica_Logia%2Fimg%2Ft_corner.png');
background-repeat: no-repeat;
background-position: right top;
background-size: 100px;
}
.sheet-rolltemplate-modulation-table .sheet-template-middle,.sheet-rolltemplate-fate-mutation-table .sheet-template-middle,.sheet-rolltemplate-ordinary-scene-table .sheet-template-middle,.sheet-rolltemplate-fumble-table .sheet-template-middle,.sheet-rolltemplate-event-table .sheet-template-middle {
display: table-row;
}

.sheet-rolltemplate-modulation-table .sheet-template-middle .sheet-left,.sheet-rolltemplate-fate-mutation-table .sheet-template-middle .sheet-left,.sheet-rolltemplate-ordinary-scene-table .sheet-template-middle .sheet-left,.sheet-rolltemplate-fumble-table .sheet-template-middle .sheet-left,.sheet-rolltemplate-event-table .sheet-template-middle .sheet-left {
width: 30px;
display: table-cell;
background-image: url('https://imgsrv.roll20.net//?src=https%3A%2F%2Fraw.githubusercontent.com%2FRoll20%2Froll20-character-sheets%2Fmaster%2FMagica_Logia%2Fimg%2Ft_v_line.png');
background-repeat: repeat-y;
background-size: 45px auto;
background-position: left;
}
.sheet-rolltemplate-modulation-table .sheet-template-middle .sheet-center,.sheet-rolltemplate-fate-mutation-table .sheet-template-middle .sheet-center,.sheet-rolltemplate-ordinary-scene-table .sheet-template-middle .sheet-center,.sheet-rolltemplate-fumble-table .sheet-template-middle .sheet-center,.sheet-rolltemplate-event-table .sheet-template-middle .sheet-center {
display: table-cell;
background: white;
}
.sheet-rolltemplate-modulation-table .sheet-template-middle .sheet-right,.sheet-rolltemplate-fate-mutation-table .sheet-template-middle .sheet-right,.sheet-rolltemplate-ordinary-scene-table .sheet-template-middle .sheet-right,.sheet-rolltemplate-fumble-table .sheet-template-middle .sheet-right,.sheet-rolltemplate-event-table .sheet-template-middle .sheet-right {
width: 30px;
display: table-cell;
background-image: url('https://imgsrv.roll20.net//?src=https%3A%2F%2Fraw.githubusercontent.com%2FRoll20%2Froll20-character-sheets%2Fmaster%2FMagica_Logia%2Fimg%2Ft_v_line.png');
background-repeat: repeat-y;
background-size: 45px auto;
background-position: right;
}

.sheet-rolltemplate-modulation-table .sheet-template-bottom,.sheet-rolltemplate-fate-mutation-table .sheet-template-bottom,.sheet-rolltemplate-ordinary-scene-table .sheet-template-bottom,.sheet-rolltemplate-fumble-table .sheet-template-bottom,.sheet-rolltemplate-event-table .sheet-template-bottom {
height: 25px;
display: table-row;
}

.sheet-rolltemplate-modulation-table .sheet-template-bottom .sheet-left,.sheet-rolltemplate-fate-mutation-table .sheet-template-bottom .sheet-left,.sheet-rolltemplate-ordinary-scene-table .sheet-template-bottom .sheet-left,.sheet-rolltemplate-fumble-table .sheet-template-bottom .sheet-left,.sheet-rolltemplate-event-table .sheet-template-bottom .sheet-left {
width: 30px;
height: 25px;
display: table-cell;
background-image: url('https://imgsrv.roll20.net//?src=https%3A%2F%2Fraw.githubusercontent.com%2FRoll20%2Froll20-character-sheets%2Fmaster%2FMagica_Logia%2Fimg%2Ft_corner.png');
background-repeat: no-repeat;
background-position: left bottom;
background-size: 100px;
}

.sheet-rolltemplate-modulation-table .sheet-template-bottom .sheet-center,.sheet-rolltemplate-fate-mutation-table .sheet-template-bottom .sheet-center,.sheet-rolltemplate-ordinary-scene-table .sheet-template-bottom .sheet-center,.sheet-rolltemplate-fumble-table .sheet-template-bottom .sheet-center,.sheet-rolltemplate-event-table .sheet-template-bottom .sheet-center {
height: 25px;
display: table-cell;
background-image: url('https://imgsrv.roll20.net//?src=https%3A%2F%2Fraw.githubusercontent.com%2FRoll20%2Froll20-character-sheets%2Fmaster%2FMagica_Logia%2Fimg%2Fthline.png');
background-repeat: repeat-x;
background-size: auto 40px;
background-position: bottom;
}

.sheet-rolltemplate-modulation-table .sheet-template-bottom .sheet-right,.sheet-rolltemplate-fate-mutation-table .sheet-template-bottom .sheet-right,.sheet-rolltemplate-ordinary-scene-table .sheet-template-bottom .sheet-right,.sheet-rolltemplate-fumble-table .sheet-template-bottom .sheet-right,.sheet-rolltemplate-event-table .sheet-template-bottom .sheet-right {
width: 30px;
height: 25px;
display: table-cell;
background-image: url('https://imgsrv.roll20.net//?src=https%3A%2F%2Fraw.githubusercontent.com%2FRoll20%2Froll20-character-sheets%2Fmaster%2FMagica_Logia%2Fimg%2Ft_corner.png');
background-repeat: no-repeat;
background-position: right bottom;
background-size: 100px;
}

.sheet-rolltemplate-Magic {
width: 500px;
max-width: 100%;
display: table;
table-layout: fixed;
word-break: keep-all;
text-align: center;
}

.sheet-rolltemplate-Magic .sheet-template-top {
height: 30px;
padding: 0px;
margin: 0px;
display: table-row;
}

.sheet-rolltemplate-Magic .sheet-template-top .sheet-left {
width: 30px;
height: 30px;
display: table-cell;
background-image: url('https://imgsrv.roll20.net//?src=https%3A%2F%2Fraw.githubusercontent.com%2FRoll20%2Froll20-character-sheets%2Fmaster%2FMagica_Logia%2Fimg%2Frt_1_1.png');
background-repeat: no-repeat;
background-size: 30px 30px;
}

.sheet-rolltemplate-Magic .sheet-template-top .sheet-center {
height: 30px;
display: table-cell;
background-image: url('https://imgsrv.roll20.net//?src=https%3A%2F%2Fraw.githubusercontent.com%2FRoll20%2Froll20-character-sheets%2Fmaster%2FMagica_Logia%2Fimg%2Frt_1_2.png');
background-repeat: repeat-x;
background-size: auto 30px;
}

.sheet-rolltemplate-Magic .sheet-template-top .sheet-right {
width: 30px;
height: 30px;
display: table-cell;
background-image: url('https://imgsrv.roll20.net//?src=https%3A%2F%2Fraw.githubusercontent.com%2FRoll20%2Froll20-character-sheets%2Fmaster%2FMagica_Logia%2Fimg%2Frt_1_3.png');
background-repeat: no-repeat;
background-size: 30px 30px;
}

.sheet-rolltemplate-Magic .sheet-template-middle {
display: table-row;
}

.sheet-rolltemplate-Magic .sheet-template-middle .sheet-left {
width: 30px;
display: table-cell;
background-image: url('https://imgsrv.roll20.net//?src=https%3A%2F%2Fraw.githubusercontent.com%2FRoll20%2Froll20-character-sheets%2Fmaster%2FMagica_Logia%2Fimg%2Frt_2_1.png');
background-repeat: repeat-y;
background-size: 30px auto;
}

.sheet-rolltemplate-Magic .sheet-template-middle .sheet-center {
display: table-cell;
background: white;
}

.sheet-rolltemplate-Magic .sheet-template-middle .sheet-right {
width: 30px;
display: table-cell;
background-image: url('https://imgsrv.roll20.net//?src=https%3A%2F%2Fraw.githubusercontent.com%2FRoll20%2Froll20-character-sheets%2Fmaster%2FMagica_Logia%2Fimg%2Frt_2_3.png');
background-repeat: repeat-y;
background-size: 30px auto;
}

.sheet-rolltemplate-Magic .sheet-template-bottom {
height: 30px;
display: table-row;
}

.sheet-rolltemplate-Magic .sheet-template-bottom .sheet-left {
width: 30px;
height: 30px;
display: table-cell;
background-image: url('https://imgsrv.roll20.net//?src=https%3A%2F%2Fraw.githubusercontent.com%2FRoll20%2Froll20-character-sheets%2Fmaster%2FMagica_Logia%2Fimg%2Frt_3_1.png');
background-repeat: no-repeat;
background-size: 30px 30px;
}

.sheet-rolltemplate-Magic .sheet-template-bottom .sheet-center {
height: 30px;
display: table-cell;
background-image: url('https://imgsrv.roll20.net//?src=https%3A%2F%2Fraw.githubusercontent.com%2FRoll20%2Froll20-character-sheets%2Fmaster%2FMagica_Logia%2Fimg%2Frt_3_2.png');
background-repeat: repeat-x;
background-size: auto 30px;
}

.sheet-rolltemplate-Magic .sheet-template-bottom .sheet-right {
width: 30px;
height: 30px;
display: table-cell;
background-image: url('https://imgsrv.roll20.net//?src=https%3A%2F%2Fraw.githubusercontent.com%2FRoll20%2Froll20-character-sheets%2Fmaster%2FMagica_Logia%2Fimg%2Frt_3_3.png');
background-repeat: no-repeat;
background-size: 30px 30px;
}

.sheet-rolltemplate-Magic .sheet-divider,.sheet-rolltemplate-modulation-table .sheet-divider,.sheet-rolltemplate-fate-mutation-table .sheet-divider,.sheet-rolltemplate-ordinary-scene-table .sheet-divider,.sheet-rolltemplate-fumble-table .sheet-divider,.sheet-rolltemplate-event-table .sheet-divider {

height: 0px;
border-bottom: 1px solid #999;
}

.sheet-rolltemplate-Magic .sheet-title,.sheet-rolltemplate-modulation-table .sheet-title,.sheet-rolltemplate-fate-mutation-table .sheet-title,.sheet-rolltemplate-ordinary-scene-table .sheet-title,.sheet-rolltemplate-fumble-table .sheet-title,.sheet-rolltemplate-event-table .sheet-title {
font-size: 1.1em;
font-weight: bold;
color: #222222;
padding-bottom: 7px;
text-align: center;
}

.sheet-rolltemplate-Magic .sheet-subtitle,.sheet-rolltemplate-modulation-table .sheet-subtitle,.sheet-rolltemplate-fate-mutation-table .sheet-subtitle,.sheet-rolltemplate-ordinary-scene-table .sheet-subtitle,.sheet-rolltemplate-fumble-table .sheet-subtitle,.sheet-rolltemplate-event-table .sheet-subtitle {
text-align: center;
font-size: 1.2em;
font-family: 'Noto Serif KR', serif;
  text-align: center;
  color: #fff;
  background: #222;
  padding: 5px 20px;
margin: 3px 0px;
}

.sheet-rolltemplate-Magic .sheet-desc,.sheet-rolltemplate-Magic .sheet-desc .inlinerollresult,.sheet-rolltemplate-modulation-table .sheet-desc,.sheet-rolltemplate-fate-mutation-table .sheet-desc,.sheet-rolltemplate-ordinary-scene-table .sheet-desc,.sheet-rolltemplate-fumble-table .sheet-desc,.sheet-rolltemplate-event-table .sheet-desc {
background-color: transparent;
border: 0px;
font-size: 13px;
padding-top: 10px;
font-weight: normal;
color: #404040;
}
.sheet-rolltemplate-modulation-table .sheet-desc .inlinerollresult,.sheet-rolltemplate-fate-mutation-table .sheet-desc .inlinerollresult,.sheet-rolltemplate-ordinary-scene-table .sheet-desc .inlinerollresult,.sheet-rolltemplate-fumble-table .sheet-desc .inlinerollresult,.sheet-rolltemplate-event-table .sheet-desc .inlinerollresult {
background-color: transparent;
border: 0px;
}

.sheet-rolltemplate-Magic .sheet-skillname {
text-align: center;
font-size: 1.2em;
font-family: 'Noto Serif KR', serif;
  text-align: center;
  color: #222;
border-top: 1px solid #999;
border-bottom: 1px solid #999;
  padding: 5px 20px;
margin: 3px 0px;
}

.sheet-rolltemplate-Magic .sheet-recite {
font-size: 13px;
font-family: 'Noto Serif KR', serif;
padding: 20px 15px;
margin-top: 10px;
  background: #f8f8f8;
}

.sheet-rolltemplate-Magic .sheet-recite .inlinerollresult {
font-size: 13px;
}

.sheet-rolltemplate-Magic .sheet-target {
border-top: 1px solid #999;
border-bottom: 1px solid #999;
padding: 3px;
font-size: 0.95em;
font-weight: bold;
}
.sheet-rolltemplate-Magic .sheet-spec {
padding-top: 7px;
}
.sheet-rolltemplate-Magic .sheet-spec span {
font-size: 0.9em;
}

.sheet-rolltemplate-Magic .sheet-random {
display: grid;
grid-template-columns: 1fr;
  border: 1px dotted #999;
  padding: 3px;
  margin: 10px;
margin-top: 15px;
text-decoration: none;
}
.sheet-rolltemplate-Magic .sheet-random.sheet-button {
  border: 3px double #999;
  background: #fafafa;
}

.sheet-rolltemplate-Magic .sheet-random.sheet-button:hover {
background: #eeeeee;
color: #dc143c;
cursor: pointer;
}

.sheet-rolltemplate-Magic .sheet-random a,.sheet-rolltemplate-Magic .sheet-random div {
 grid-row-start: 1;
 grid-column-start: 1;
 padding: 5px;
 z-index: 49;
}

.sheet-rolltemplate-Magic .sheet-random a {
display: block;
  text-align: center;
background-color: transparent;
color: transparent;
border: 0px;
z-index: 50;
}

.sheet-rolltemplate-Magic .sheet-random span {
display: block;
  text-align: center;
  font-size: 1.2em;
  font-weight: bold;
  margin-top: 5px;
}

.sheet-rolltemplate-Magic .sheet-random .sheet-area {
font-size: 1em;
  margin: 0px;
  font-weight: normal;
color: #444;
}


.sheet-rolltemplate-Magic,.sheet-rolltemplate-npc {font-family: sans-serif;}



.sheet-rolltemplate-Magic a:hover {color: #BE202E;}


.sheet-rolltemplate-Magic .inlinerollresult,.sheet-rolltemplate-npc .inlinerollresult {
  background-color: transparent;
  border: none;
  padding: 0px 0px;
  font-weight: bold;
  cursor: help;
  font-size: 1.25em;
  padding: 2px;
}
.sheet-rolltemplate-Magic .inlinerollresult {color: #000;}

.sheet-rolltemplate-Magic .sheet-mdl,.sheet-rolltemplate-Magic .sheet-mdl span {
vertical-align: middle;
  display: inline-block;
  padding-top: 1px;
  font-size: 1.06em;
}

.sheet-rolltemplate-Magic .sheet-resright .inlinerollresult,.sheet-rolltemplate-npc .sheet-bigres .inlinerollresult {
  font-size: 1.6em;
  line-height: 1.45em;
}
.sheet-rolltemplate-Magic .success,.sheet-rolltemplate-npc .success {
  color: #247305;
}
.sheet-rolltemplate-Magic .failure,.sheet-rolltemplate-npc .failure {
  color: #BE202E;
}
.sheet-rolltemplate-Magic .inlinerollresult.fullcrit,.sheet-rolltemplate-npc .inlinerollresult.fullcrit {
  border: none;
  color: #247305;
}
.sheet-rolltemplate-Magic .inlinerollresult.importantroll,.sheet-rolltemplate-npc .inlinerollresult.importantroll {
  border: none;
  color: #4A57ED;
}
.sheet-rolltemplate-Magic .inlinerollresult.fullfail,.sheet-rolltemplate-npc .inlinerollresult.fullfail {
  border: none;
  color: #BE202E;
}


.sheet-rolltemplate-Magic div,.sheet-rolltemplate-Magic span,.sheet-rolltemplate-Magic img,.sheet-rolltemplate-npc div,.sheet-rolltemplate-npc span,.sheet-rolltemplate-npc img {
  box-sizing: border-box;
}
.sheet-rolltemplate-Magic div,.sheet-rolltemplate-npc div {
  margin: 0px;
  padding: 0px;
}
.sheet-rolltemplate-Magic img,.sheet-rolltemplate-npc img {
  margin: 0px;
  padding: 0px;
}
.sheet-rolltemplate-Magic .sheet-center,.sheet-rolltemplate-npc .sheet-center {text-align: center;}
.sheet-rolltemplate-Magic .sheet-right,.sheet-rolltemplate-npc .sheet-right {text-align: right;}
.sheet-rolltemplate-Magic .sheet-ital,.sheet-rolltemplate-npc .sheet-ital {font-style: italic;}
.sheet-rolltemplate-Magic .sheet-inl,.sheet-rolltemplate-npc .sheet-inl {display: inline;}
.sheet-rolltemplate-Magic .sheet-bold,.sheet-rolltemplate-npc .sheet-bold {font-weight: bold;}
.sheet-rolltemplate-Magic .sheet-vtop,.sheet-rolltemplate-npc .sheet-vtop {vertical-align: top;}

.sheet-rolltemplate-Magic .sheet-myrow,.sheet-rolltemplate-npc .sheet-myrow {
  padding: 5px;
border:1px solid #182C4A;
border-top:0px;
border-bottom:0px;
background:#fff;
}
.sheet-rolltemplate-Magic .sheet-vtop + .sheet-myrow {background: linear-gradient(to left,white,#D8DBE6);}
.sheet-rolltemplate-npc .sheet-bordered .sheet-myrow:nth-child(even) {background: linear-gradient(to left,#c3996b7a,white);}


.sheet-rolltemplate-Magic span.sheet-notes,.sheet-rolltemplate-npc span.sheet-notes {
  font-family: sans-serif;
  font-size: 0.9em;
  color: black;
}

.sheet-rolltemplate-Magic .sheet-lbl,.sheet-rolltemplate-npc .sheet-lbl {
  text-align: left;
  font-family: sans-serif;
  line-height: 1em;
  text-transform: capitalize;
  white-space: pre;
}

.sheet-rolltemplate-Magic .sheet-bordered,.sheet-rolltemplate-npc .sheet-bordered {
border-bottom:1px solid #182C4A;
  text-align: left;
  vertical-align: top;
  position: relative;
}

.sheet-rolltemplate-Magic .sheet-icon,.sheet-rolltemplate-npc .sheet-icon {
  position: absolute;
  top: 6px;
  left: -40px;
  width: 40px;
  text-align: center;
}
.sheet-rolltemplate-Magic .img {padding-bottom:10px;}
.sheet-rolltemplate-Magic .img img,.sheet-rolltemplate-npc .img img {display:block; margin:0 auto;}

.sheet-rolltemplate-Magic .blacklabel .big,.sheet-rolltemplate-npc .big {display:block; font-size:12px; padding:0 0 5px; text-align:center; font-weight:normal; border-bottom:1px solid rgba(255,255,255,.3); margin-bottom:5px;}
.sheet-rolltemplate-npc .big {color: #3C2517;}

.sheet-rolltemplate-Magic .sheet-resright,.sheet-rolltemplate-npc .sheet-resright {
  display: block;
text-align:center;
  border-top: 0px;
  border-bottom: 0px;
background:#fff;
  clear: both;
font-size: 1.3em;
text-transform: uppercase;
line-height: 1.0em;
padding: 10px;
}