@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard-dynamic-subset.css");
* {
  font-family: "Pretendard", sans-serif;
}

*:focus {
  outline: none;
}

@supports (-webkit-appearance: none) or (-moz-appearance: none) {
  input[type=checkbox].ckbx,
  input[type=radio] {
    --active: #3a9488;
    --active-inner: #F0F1F9;
    --focus: 3px rgba(0,66,37, 0.3);
    --border: #2c695f;
    --border-hover: var(--active);
    --background: #fff;
    --disabled: #f6f8ff;
    --disabled-inner: #e1e6f9;
    -webkit-appearance: none;
    -moz-appearance: none;
    height: 21px;
    outline: none;
    display: inline-block;
    vertical-align: top;
    position: relative;
    margin: 0;
    cursor: pointer;
    border: 1px solid var(--bc, var(--border));
    background: var(--b, var(--background));
    transition: background 0.3s, border-color 0.3s, box-shadow 0.2s;
  }
  input[type=checkbox].ckbx:after,
  input[type=radio]:after {
    content: "";
    display: block;
    left: 0;
    top: 0;
    position: absolute;
    transition: transform var(--d-t, 0.3s) var(--d-t-e, ease), opacity var(--d-o, 0.2s);
  }
  input[type=checkbox].ckbx:checked,
  input[type=radio]:checked {
    --b: var(--active);
    --bc: var(--active);
    --d-o: 0.3s;
    --d-t: 0.6s;
    --d-t-e: cubic-bezier(0.2, 0.85, 0.32, 1.2);
  }
  input[type=checkbox].ckbx:disabled,
  input[type=radio]:disabled {
    --b: var(--disabled);
    cursor: not-allowed;
    opacity: 0.9;
  }
  input[type=checkbox].ckbx:disabled:checked,
  input[type=radio]:disabled:checked {
    --b: var(--disabled-inner);
    --bc: var(--border);
  }
  input[type=checkbox].ckbx:disabled + label,
  input[type=radio]:disabled + label {
    cursor: not-allowed;
  }
  input[type=checkbox].ckbx:hover:not(:checked):not(:disabled),
  input[type=radio]:hover:not(:checked):not(:disabled) {
    --bc: var(--border-hover);
  }
  input[type=checkbox].ckbx:focus,
  input[type=radio]:focus {
    box-shadow: 0 0 0 var(--focus);
  }
  input[type=checkbox].ckbx:not(.switch),
  input[type=radio]:not(.switch) {
    width: 21px;
  }
  input[type=checkbox].ckbx:not(.switch):after,
  input[type=radio]:not(.switch):after {
    opacity: var(--o, 0);
  }
  input[type=checkbox].ckbx:not(.switch):checked,
  input[type=radio]:not(.switch):checked {
    --o: 1;
  }
  input[type=checkbox].ckbx + label,
  input[type=radio] + label {
    font-size: 1.4rem;
    line-height: 21px;
    display: inline-block;
    vertical-align: top;
    cursor: pointer;
    margin-left: 4px;
  }
  input[type=checkbox].ckbx:not(.switch) {
    border-radius: 7px;
  }
  input[type=checkbox].ckbx:not(.switch):after {
    width: 5px;
    height: 9px;
    border: 2px solid var(--active-inner);
    border-top: 0;
    border-left: 0;
    left: 7px;
    top: 4px;
    transform: rotate(var(--r, 20deg));
  }
  input[type=checkbox].ckbx:not(.switch):checked {
    --r: 43deg;
  }
  input[type=checkbox].ckbx.switch {
    width: 38px;
    border-radius: 11px;
  }
  input[type=checkbox].ckbx.switch:after {
    left: 2px;
    top: 2px;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    background: var(--ab, var(--border));
    transform: translateX(var(--x, 0));
  }
  input[type=checkbox].ckbx.switch:checked {
    --ab: var(--active-inner);
    --x: 17px;
  }
  input[type=checkbox].ckbx.switch:disabled:not(:checked):after {
    opacity: 0.6;
  }
  input[type=radio] {
    border-radius: 50%;
  }
  input[type=radio]:after {
    width: 19px;
    height: 19px;
    border-radius: 50%;
    background: var(--active-inner);
    opacity: 0;
    transform: scale(var(--s, 0.7));
  }
  input[type=radio]:checked {
    --s: 0.5;
  }
}
.setting > label {
  font-family: "NEXON Lv1 Gothic OTF";
}

.sheet {
  text-align: center;
  background-color: #888888;
}
.sheet .title {
  font-family: "NEXON Lv1 Gothic OTF";
  font-size: 2rem;
  color: white;
  background: linear-gradient(black, #262626);
}

.sheet_box {
  background-color: #c4beb6;
  font-size: 1.6rem;
}
.sheet_box div:not(.option) > input:not(._name) {
  background-color: rgba(255, 255, 255, 0.5);
  border: 0;
}

.table_title {
  font-weight: bold;
}

.attr {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-auto-flow: column;
}
.attr > div {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  align-content: center;
  flex-wrap: wrap;
  height: 6rem;
}
.attr > div > input {
  width: 2.5em;
  height: 2em;
  font-size: 2rem;
  text-align: center;
}
.attr > div .halfvalue, .attr > div .fifthvalue {
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.skills .option {
  font-size: 1.4rem;
  display: flex;
  align-items: center;
  justify-items: start;
  background: #262626;
  color: floralwhite;
  padding: 1rem 10%;
  gap: 1rem;
}
.skills .option > span {
  line-height: 1.5em;
}
.skills .option div:not(.skill_point) > span {
  display: block;
  text-align: left;
}

.skill_point {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: 0.4rem input;
  gap-width: 2rem !important;
}

.skills .content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: repeat(18, 1fr);
  grid-auto-flow: column;
  gap: 1px;
}
.skills .content > div {
  display: flex;
  height: 1.6em;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: center;
}
.skills .content .skill_name {
  width: 8em;
  display: inline-block;
}
.skills .content .skill_name::after {
  content: "(" attr(default) "%)";
  font-size: 1rem;
}
.skills .content [id^=otherskill] {
  position: relative;
}
.skills .content [id^=otherskill] .skill_name::after {
  content: "";
}
.skills .content [id^=otherskill] .skill_name input {
  padding: 0;
  margin: 0;
  background: transparent;
  border: none;
  font-size: 1rem;
  width: 1.5rem;
}
.skills .content [id^=otherskill] .skill_name span {
  font-size: 1rem;
}
.skills .content [id^=otherskill] .skill_name input._name {
  font-size: 1.6rem;
  width: 75%;
}
.skills .content input {
  width: 2em;
  height: 100%;
  text-align: center;
}
.skills .content .value {
  font-weight: bold;
}

.skill_icon {
  position: absolute;
}
.skill_icon.grip {
  right: 100%;
}
.skill_icon.remove {
  right: 0.4rem;
}

.halfvalue, .fifthvalue {
  font-size: 0.5em;
  padding-left: 2px;
  text-align: center;
  width: 2em;
}

.battle > div {
  display: grid;
  grid-template-columns: 12em 8em repeat(6, 1fr);
  font-size: 1.6rem;
}

.table_item > input {
  width: 100%;
}