@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard-dynamic-subset.css');
* {font-family:'Pretendard',sans-serif}
*:focus {outline:none}

//색상
$coc-sheet-bg:#888888;
$coc-box-bg:#c4beb6;
$coc-input-bg:rgba(255,255,255,0.5);
$coc-sheet-title-bg:linear-gradient(black, #262626);

@import '../checkbox';
#wrapper {
  font-size:1.6rem;
}
.setting>label {
  font-family: 'NEXON Lv1 Gothic OTF';
}
.sheet {
  text-align: center;
  background-color:$coc-sheet-bg;
  display:flex;
  flex-wrap:wrap;
  .title {
    font-family: 'NEXON Lv1 Gothic OTF';
    font-size:2rem;
    color:white;
    background:$coc-sheet-title-bg;
    padding: 0.4rem 0;
  }
}
.sheet_box{
  background-color: $coc-box-bg;
  font-size: 1.6rem;
  div:not(.option)>input:not(._name,[type="checkbox"]),textarea {
    background-color: $coc-input-bg;
    border:0;
  }
  textarea {
    width:100%;
    border-radius: 0;
  }
  .option {
    gap:1rem;
    font-size:1.4rem;
    background: #262626;
    color: floralwhite;
    padding: 1rem 10%;
    >span {
      line-height:1.5em;
    }
  }
}
.content {
  padding:0 1rem 1rem 1rem;
}
.table_title {
  font-weight:bold;
}
.info {
  .content {
    &>div {
      display:grid;
      grid-template-columns: 3em 1fr;
      margin-top:0.4rem;
    }
  }
}
.attr .content {
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-auto-flow: column;
  gap: 0.2rem 0.6rem;
  >div {
    display: flex;
    position:relative;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    align-content: center;
    flex-wrap: wrap;
    height:6rem;
    >.value {
      width:2.4em;
      height:2em;
      font-size:2rem;
      font-weight:bold;
      text-align:center;
    }
    .halfvalue, .fifthvalue {
      height:2rem;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}
#mov i {
  width: 16px;
}
// ---
.stats .content {
  // flex-wrap:wrap;
  text-align:left;
  >div {
    display:flex;
    margin-top:0.5rem;
    align-items: center;
    // width:100%;
    .sub_title {
      display:inline-block;
      width:2.5em;
      flex-shrink:0;
    }
    input:not([type]), span.input {
      width:2em;
      display:inline-block;
      border:0;
      padding: 1px 2px;
      font-size:1.2rem;
    }
    input:not([type]) {
      font-size:1.6rem;
    }
    input:not([class]){
      background-color: $coc-input-bg;
      border-radius:0.2rem;
      text-align:center;
    }
  }
  .desc {
    font-size:1.2rem;
  }
  .max {
    background-color:transparent;
    &::before{
      content:"/";
      display:inline-block;
    }
  }
}
#majorwoundcurrent{width:9em;display:none}
#major-wound-toggle:checked~#majorwoundcurrent {display:inline}
#mp, #luck {
  width:50%;
  display:inline-flex;
}
#luck {
  justify-content: flex-end;
  input {
    flex-basis: 4em;
    
    flex-shrink: 1;
  }
}
//-----
.skills {
  width:100%;
}
.skills .option{
  display: flex;
  position:relative;
  align-items: center;
  justify-content: center;
  div:not(.skill_point)>span {
    display:block;
    text-align:left;
    position: relative;
  }
}
.skill_point {
  display:flex;
  flex-wrap: wrap;
  align-items: flex-start;
  gap:0.4rem;
  input {
    width:6em!important;
    
  }
}
#sp_0_text {
  position:absolute;
  left:50%;
  bottom:calc(100% + 0.4rem);
  transform: translate(-50%,0%);
  padding:0.2rem 1rem;
  background-color: #333;
  color: #fff;
  border-radius: 4px;
  font-size: 14px;
  line-height: 1.4;
  white-space: nowrap;
  outline: 0;
  opacity:0;
  &::before {
    content:"현재 직업 기능점수: "
  }
}
.skill_point>div>span{
  &:hover, &:focus, &:active {
    #sp_0_text {opacity:1};
  }
}
.skills .content {
  display: grid;
  grid-template-columns: repeat(3, 25rem);
  grid-template-rows: repeat(18, 1fr);
  grid-auto-flow: column;
  gap: 1px;
  column-gap:3rem;
  justify-items: start;
  justify-content: center;
  >div {
    display: flex;
    position:relative;
    height: 1.6em;
    width:100%;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: center;
  }

  .skill_name{
    width:calc(100% - 7.6em);
    display:inline-block;
    &::after{
      content:'('attr(default)'%)';
      font-size:1rem;
    }
  }
  [id^=otherskill] {
    position:relative;
    .skill_name::after {content:'';}
    .skill_name {
      input {
        padding:0; margin:0;
        background:transparent;
        border:none;
        font-size:1rem;
        width:1.5rem;
      }
      span {font-size:1rem;}
      input._name {
        font-size:1.6rem;
        width:75%;
      }
    }
  }
  input {
    width:2em;
    height:100%;
    text-align:center;
  }
  .value {
    font-weight:bold;
  }
}
#cthulhu_mythos>input[type="checkbox"] {opacity:0}
#otherskill1>.skill_icon.remove, #weapon1>.skill_icon.remove {display:none;}
input.sp, input.sp-add {
  background-color: rgba(255,255,255,0.2)!important;
  transition: background-color 0.2s ease;
  &:hover,&:focus,&:active, &:not(:placeholder-shown) {
    background-color:$coc-input-bg!important;
  }
}
.skills .content>div[id] {
  &:has(input[class^=sp]:not(:placeholder-shown)) {
    background-color: $coc-box-bg;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset, $coc-box-bg 0 2px 0 0;
  }
}
.skill_icon {
  position:absolute;
  &.grip {
    right:100%;
  }
  &.remove {
    right:0.3rem;
    cursor: pointer;
  }
}

.halfvalue, .fifthvalue {
  font-size:0.5em;
  padding-left:2px;
  text-align:center;
  width:2em;
}
.weapons {
  width:100%;
  .content{
    width:calc(100% - 2rem);
    >div{
      display: grid;
      grid-template-columns: 2fr 1fr repeat(6,4em);
      font-size: 1.6rem;
    }
  }
}
.table_item>input {
  width:100%;
}
//- 체크박스
.skills input[type=checkbox] {
  $siz:1.6rem;
  height:$siz;
  width:$siz;
  border:0;
  appearance: none;
  position:relative;
  //transform:scale(0.6);
  // left:0.6rem;
  @function svgIcon($color) {
    $icon: "data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23#{$color}' viewBox='0 0 16 16'%3E%3Cpath d='M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z'/%3E%3C/svg%3E";
    @return url($icon);
  }
  &::before {
    content:"";
    display:inline-block;
    width:$siz;
    height:$siz;
    background:rgba(255,255,255,0.1);
    border:none;
    border-radius: 0.4rem;
    transition: all 0.3s ease-in-out;
  }
  &::after {
    opacity:0;
    content: svgIcon(ffffff);
    position:absolute;
    top:0;left:0;
    width:$siz;
    height:$siz;
    transform:scale(1.2);
    transition: all 0.3s ease-in-out;
  }
  &:checked {
    &::before {
      box-shadow: 0 0 1px 1px rgba(255,255,255,0.2);
      background:transparent;
     }
    &::after {
      opacity:1;
      
    }
  }
}
.backstory, .money {
  flex-basis: 50%;
}
// 세팅
#saveslots {
  display:flex;
}
.saveslot {
  flex:1;
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:center;
  padding:1rem;
  border:1px solid #333;
  border-radius: 0.4rem;
  margin:0.4rem;
  cursor:pointer;
  transition: all 0.3s ease-in-out;
  &:hover {
    background-color: #333;
    color:white;
  }
  &:focus, &:has(input:checked) {
    background-color: #333;
    color:white;
  }
  >input {display:none}
}




.hide {
  display:none;
}