@charset "UTF-8";
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard-dynamic-subset.css");
* {
  font-family: "Pretendard", sans-serif;
}

*:focus {
  outline: none;
}

:root {
  --main-color: #80a4be;
  --main-dark: #4e7997;
  --main-darken: #345165;
  --main-light: #bfd1de;
  --main-light-06:rgba(191, 209, 222, 0.6);
  --main-lighter: #dfe8ef;
  --sub-color:#3d5e75;
  --sub-accent-light:#f3dcda;
  --accent-light:#ebe7f1;
  --border-color:#d9d7dc;
}

.btn {
  --btn-color:#80a4be;
  --btn-hov-color:#4e7997;
}

#wrapper {
  font-size: 1.6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.setting > label {
  font-family: "NEXON Lv1 Gothic OTF";
}

textarea, input, select {
  color: #262626;
  font-size: 1.6rem;
  border: 0;
}
textarea:active, textarea:focus, input:active, input:focus, select:active, select:focus {
  box-shadow: none;
}

.sheet {
  text-align: center;
  background: #888888;
  display: flex;
  flex-wrap: wrap;
  max-width: 960px;
  margin-bottom: 3rem;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
}
.sheet .title {
  font-family: "NEXON Lv1 Gothic OTF";
  font-size: 2rem;
  color: white;
  background: linear-gradient(black, #262626);
  padding: 0.4rem 0;
}

.sheet_box {
  flex-grow: 1;
  flex-basis: 45%;
  background: #c4beb6;
  font-size: 1.6rem;
}
.sheet_box input, .sheet_box textarea {
  background: rgba(255, 255, 255, 0.5);
}
.sheet_box textarea {
  width: 100%;
  border-radius: 0;
}
.sheet_box .option {
  gap: 1rem;
  font-size: 1.4rem;
  background: #262626;
  color: floralwhite;
  padding: 1rem 10%;
}
.sheet_box .option > span {
  line-height: 1.5em;
}

.content {
  padding: 0.5rem 1rem 1rem 1rem;
}

.table_title {
  font-weight: bold;
}

.subtitle {
  font-size: 0.9em;
  color: linear-gradient(black, #262626);
  font-weight: 600;
  text-align: center;
}

.info .content {
  display: flex;
  flex-flow: column;
  gap: 0.5rem;
}
.info .content > div {
  display: grid;
  box-sizing: content-box;
  grid-template-columns: 3em 1fr;
  align-items: center;
  background-image: linear-gradient(to top, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0.2) 99%);
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  background-position: bottom right;
  background-size: calc(100% - 3em) 0%;
  background-repeat: no-repeat;
  transition: all cubic-bezier(0.075, 0.82, 0.165, 1) 0.5s;
}
.info .content > div::before {
  content: attr(data-title);
  display: inline-block;
  font-size: 0.9em;
  color: linear-gradient(black, #262626);
  font-weight: 600;
  text-align: center;
}
.info .content > div:has(:focus), .info .content > div:has(:active) {
  box-shadow: 0 2px 0 0 rgba(255, 255, 255, 0.5);
  background-size: calc(100% - 3em) 100%;
}
.info .content > div > input {
  padding: 0.1em 0.3em;
}
.info .content > div input {
  background: transparent;
}

.attr .content {
  display: grid;
  grid-template-columns: repeat(3, 7rem);
  grid-template-rows: 1fr 1fr 1fr;
  grid-auto-flow: column;
  justify-content: center;
  gap: 0.2rem 0.6rem;
}
.attr .content > div {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  align-content: center;
  flex-wrap: wrap;
  height: 6rem;
}
.attr .content > div > span:first-child {
  font-size: 0.9em;
  color: linear-gradient(black, #262626);
  font-weight: 600;
  text-align: center;
  margin-bottom: 0.2rem;
}
.attr .content > div > .value {
  text-align: center;
  border: 0;
  background-image: linear-gradient(to top, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0.5) 100%);
  background-size: 100% 0%;
  transition-property: background, box-shadow;
  transition-duration: 0.5s;
  transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  background-repeat: no-repeat;
  background-position: right;
  background-color: rgba(255, 255, 255, 0.5);
  width: 2.4em;
  height: 2em;
  font-size: 2rem;
  font-weight: bold;
}
.attr .content > div > .value:focus, .attr .content > div > .value:active {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset, #c4beb6 0 2px 0 0;
  background-size: 100% 100%;
}
.attr .content > div .halfvalue, .attr .content > div .fifthvalue {
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

#mov i {
  width: 16px;
}

.stats .content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.stats .content > div {
  display: inline-flex;
  margin-top: 0.5rem;
  align-items: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  transition: all cubic-bezier(0.075, 0.82, 0.165, 1) 0.5s;
}
.stats .content > div:has(input:focus, input:active) {
  box-shadow: 0 2px 0 0 rgba(255, 255, 255, 0.5);
}
.stats .content > div .subtitle {
  display: inline-block;
  width: 2.5em;
  flex-shrink: 0;
}
.stats .content > div input:not([type]), .stats .content > div span.input {
  width: 2em;
  display: inline-block;
  border: 0;
  padding: 1px 2px;
  font-size: 1.2rem;
}
.stats .content > div input:not([type]) {
  font-size: 1.6rem;
}
.stats .content > div input:not([class]) {
  text-align: center;
  border: 0;
  background-image: linear-gradient(to top, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0.5) 100%);
  background-size: 100% 0%;
  transition-property: background, box-shadow;
  transition-duration: 0.5s;
  transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  background-repeat: no-repeat;
  background-position: right;
  background-color: rgba(255, 255, 255, 0.2);
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  text-align: center;
}
.stats .content > div input:not([class]):focus, .stats .content > div input:not([class]):active {
  box-shadow: none;
  background-size: 100% 100%;
}
.stats .content #current_mental_condition {
  background: transparent;
  border-radius: 0;
  background-image: linear-gradient(to top, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0.2) 99%);
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  background-position: bottom right;
  background-size: 100% 0%;
  background-repeat: no-repeat;
  transition: all cubic-bezier(0.075, 0.82, 0.165, 1) 0.5s;
  margin-top: 0.5rem;
  width: 100%;
  padding-left: 2.5em;
  font-size: 1.4rem;
}
.stats .content #current_mental_condition:focus, .stats .content #current_mental_condition :active {
  box-shadow: 0 2px 0 0 rgba(255, 255, 255, 0.5);
  background-size: 100% 100%;
}
.stats .content .desc {
  font-size: 1.2rem;
}
.stats .content .max {
  background: transparent;
}
.stats .content .max::before {
  content: "/";
  display: inline-block;
}

#hp {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

#majorwoundcurrent {
  opacity: 0;
  margin-left: 1.5rem;
  width: 0;
  flex-basis: 5em;
  flex-grow: 1;
  flex-shrink: 2;
}

#major-wound-toggle:checked ~ #majorwoundcurrent {
  opacity: 1;
}

#san {
  width: 100%;
}

#luck {
  justify-content: flex-end;
}
#luck input {
  width: 4em;
}

.battle .content > div {
  display: grid;
  box-sizing: content-box;
  grid-template-columns: 5em 1fr;
  align-items: center;
  background-image: linear-gradient(to top, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0.2) 99%);
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  background-position: bottom right;
  background-size: calc(100% - 5em) 0%;
  background-repeat: no-repeat;
  transition: all cubic-bezier(0.075, 0.82, 0.165, 1) 0.5s;
}
.battle .content > div::before {
  content: attr(data-title);
  display: inline-block;
  font-size: 0.9em;
  color: linear-gradient(black, #262626);
  font-weight: 600;
  text-align: center;
}
.battle .content > div:has(:focus), .battle .content > div:has(:active) {
  box-shadow: 0 2px 0 0 rgba(255, 255, 255, 0.5);
  background-size: calc(100% - 5em) 100%;
}
.battle .content > div > input {
  padding: 0.1em 0.3em;
}
.battle .content > div input, .battle .content > div > div {
  background: transparent;
  text-align: left;
  width: 3em;
}
.battle .content > div > div {
  padding: 0.1em 0.3em;
}

.skills .option {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
}
.skills .option div:not(.skill_point) > span {
  display: block;
  text-align: left;
  position: relative;
}

.skill_point {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: 0.4rem;
}
.skill_point input {
  width: 6em !important;
}

#sp_0_text {
  position: absolute;
  left: 50%;
  bottom: calc(100% + 0.4rem);
  transform: translate(-50%, 0%);
  padding: 0.2rem 1rem;
  background: #333;
  color: #fff;
  border-radius: 4px;
  font-size: 14px;
  line-height: 1.4;
  white-space: nowrap;
  outline: 0;
  opacity: 0;
}
#sp_0_text::before {
  content: "현재 직업 기능점수: ";
}

.skill_point > div > span:hover #sp_0_text, .skill_point > div > span:focus #sp_0_text, .skill_point > div > span:active #sp_0_text {
  opacity: 1;
}

.skills .content {
  display: grid;
  margin: 0 1rem;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(18, 1fr);
  grid-auto-flow: column;
  grid-auto-columns: minmax(5rem, 25rem);
  gap: 1px;
  column-gap: 3rem;
  justify-items: stretch;
  justify-content: center;
}
.skills .content > div {
  display: flex;
  position: relative;
  height: 1.6em;
  width: 100%;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: center;
}
.skills .content .skill_name {
  width: calc(100% - 7.6em);
  display: inline-block;
}
.skills .content .skill_name::after {
  content: "(" attr(default) "%)";
  font-size: 1rem;
}
.skills .content [id^=otherskill] {
  position: relative;
}
.skills .content [id^=otherskill] .skill_name::after {
  content: "";
}
.skills .content [id^=otherskill] .skill_name input {
  padding: 0;
  margin: 0;
  background: transparent;
  border: none;
  font-size: 1rem;
  width: 1.5rem;
}
.skills .content [id^=otherskill] .skill_name span {
  font-size: 1rem;
}
.skills .content [id^=otherskill] .skill_name input._name {
  font-size: 1.6rem;
  width: 75%;
}
.skills .content input {
  width: 2em;
  height: 100%;
  text-align: center;
  font-size: 1.4rem;
}
.skills .content .value {
  font-weight: bold;
}
.skills .content .sp, .skills .content .sp-add, .skills .content .value {
  border-radius: 0;
}

#cthulhu_mythos > input[type=checkbox] {
  opacity: 0;
}

#otherskill1 > .skill_icon.remove, #weapon1 > .skill_icon.remove {
  display: none;
}

input.sp, input.sp-add {
  background: rgba(255, 255, 255, 0.2) !important;
  transition: background-color 0.2s ease;
}
input.sp:hover, input.sp:focus, input.sp:active, input.sp:not(:placeholder-shown), input.sp-add:hover, input.sp-add:focus, input.sp-add:active, input.sp-add:not(:placeholder-shown) {
  background: rgba(255, 255, 255, 0.5) !important;
}

.skills .content > div[id]:has(input[class^=sp]:not(:placeholder-shown)) {
  background: #c4beb6;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset, #c4beb6 0 2px 0 0;
}

.skills input[type=checkbox] {
  height: 1.6rem;
  width: 1.6rem;
  border: 0;
  appearance: none;
  position: relative;
  background: transparent;
  border-radius: 0.4rem;
}
.skills input[type=checkbox]::before, .skills input[type=checkbox]::after {
  transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.skills input[type=checkbox]::before {
  content: "";
  display: inline-block;
  width: 1.6rem;
  height: 1.6rem;
  background: rgba(255, 255, 255, 0.1);
  border: none;
  border-radius: 0.4rem;
}
.skills input[type=checkbox]::after {
  opacity: 0;
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23262626' viewBox='0 0 16 16'%3E%3Cpath d='M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z'/%3E%3C/svg%3E");
  position: absolute;
  top: 0;
  left: 0;
  width: 1.6rem;
  height: 1.6rem;
  transform: scale(1.2);
}
.skills input[type=checkbox]:checked::before {
  border-radius: 0.4rem;
  background: rgba(255, 255, 255, 0.2);
}
.skills input[type=checkbox]:checked::after {
  opacity: 1;
}

.skill_icon {
  cursor: pointer;
  position: absolute;
}
.skill_icon.grip {
  right: 100%;
}

.skills .skill_icon.remove {
  left: calc(100% + 0.1rem);
}

.weapons .skill_icon.remove {
  right: -2rem;
}

.halfvalue, .fifthvalue {
  font-size: 0.5em;
  padding-left: 2px;
  text-align: center;
  width: 2em;
}

button#add_skill, button#add_weapon {
  padding-top: 0.2rem;
  outline: none;
  border: none;
  background: #c4beb6;
  border-radius: 0.6rem;
  color: #60584e;
  font-size: 1.6rem;
  cursor: pointer;
  font-family: "NEXON Lv1 Gothic OTF";
  box-shadow: 3px 3px 8px rgba(182, 175, 165, 0.8), -3px -3px 8px rgba(214, 210, 205, 0.8);
}
button#add_skill:hover, button#add_skill:focus, button#add_skill:active, button#add_weapon:hover, button#add_weapon:focus, button#add_weapon:active {
  box-shadow: 3px 3px 8px rgba(182, 175, 165, 0.8) inset, -3px -3px 8px rgba(214, 210, 205, 0.8) inset;
}

button#add_skill {
  width: calc(100% - 1rem);
  margin-right: 1rem;
}

button#add_weapon {
  width: 100%;
  height: 1.6em;
  margin-top: 0.5rem;
}

.weapons .content {
  width: calc(100% - 1.5rem);
}
.weapons .content > div {
  display: grid;
  position: relative;
  grid-template-columns: 5fr 7em 2fr 4em 2fr repeat(3, minmax(2em, 1fr));
  gap: 1px;
  font-size: 1.6rem;
  margin-top: 0.4rem;
  align-items: center;
}
.weapons .content .table_title > div:nth-child(5), .weapons .content .table_title > div:nth-child(6), .weapons .content .table_title > div:nth-child(7), .weapons .content .table_title > div:nth-child(8) {
  font-size: 0.8em;
  line-height: 1;
  text-wrap: balance;
}

.table_item {
  transition: box-shadow cubic-bezier(0.075, 0.82, 0.165, 1) 0.5s;
}
.table_item select:disabled {
  opacity: 1;
}
.table_item > input, .table_item > select {
  width: 100%;
  background: rgba(255, 255, 255, 0.2);
  transition: background cubic-bezier(0.075, 0.82, 0.165, 1) 0.5s;
}
.table_item > input:active, .table_item > input:focus, .table_item > select:active, .table_item > select:focus {
  background: rgba(255, 255, 255, 0.5);
}
.table_item:has(input:focus, input:active, select:focus, select:active) {
  box-shadow: 0 2px 0 0 rgba(255, 255, 255, 0.5);
}
.table_item > :nth-child(5), .table_item > :nth-child(6), .table_item > :nth-child(7), .table_item > :nth-child(8) {
  text-align: center;
}

.backstory .content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.8rem 0.4rem;
}
.backstory .content .subtitle {
  margin-bottom: 0.2rem;
  display: flex;
  align-items: center;
}
.backstory .content .subtitle::before, .backstory .content .subtitle::after {
  display: block;
  height: 0.8rem;
  align-items: center;
  flex-basis: 0;
  flex-shrink: 1;
  flex-grow: 1;
  background-repeat: no-repeat;
  background-size: 0% 100%;
  transition: background-size cubic-bezier(0.075, 0.82, 0.165, 1) 0.5s;
}
.backstory .content > div:nth-child(odd) .subtitle {
  padding-left: 0.2rem;
  text-align: left;
}
.backstory .content > div:nth-child(odd) .subtitle::after {
  content: "";
  margin-left: 0.4rem;
  background-image: linear-gradient(to left, rgba(38, 38, 38, 0.4) 100%, rgba(38, 38, 38, 0.4) 100%);
}
.backstory .content > div:nth-child(odd):has(textarea:focus, textarea:active) .subtitle::after {
  background-size: 100% 100%;
}
.backstory .content > div:nth-child(even) .subtitle {
  padding-right: 0.2rem;
  text-align: right;
}
.backstory .content > div:nth-child(even) .subtitle::before {
  content: "";
  margin-right: 0.4rem;
  background-image: linear-gradient(to right, rgba(38, 38, 38, 0.4) 100%, rgba(38, 38, 38, 0.4) 100%);
  background-position: right;
}
.backstory .content > div:nth-child(even):has(textarea:focus, textarea:active) .subtitle::before {
  background-size: 100% 100%;
}
.backstory .content textarea {
  text-align: center;
  border: 0;
  background-image: linear-gradient(to top, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0.5) 100%);
  background-size: 100% 0%;
  transition-property: background, box-shadow;
  transition-duration: 0.5s;
  transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  background-repeat: no-repeat;
  background-position: right;
  height: 5em;
  text-align: left;
}
.backstory .content textarea:focus, .backstory .content textarea:active {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset, #c4beb6 0 2px 0 0;
  background-size: 100% 100%;
}

.money textarea {
  text-align: center;
  border: 0;
  background-image: linear-gradient(to top, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0.5) 100%);
  background-size: 100% 0%;
  transition-property: background, box-shadow;
  transition-duration: 0.5s;
  transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  background-repeat: no-repeat;
  background-position: right;
  text-align: left;
  margin-top: 0.5rem;
  resize: vertical;
}
.money textarea:focus, .money textarea:active {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset, #c4beb6 0 2px 0 0;
  background-size: 100% 100%;
}

#spending_level, #cash {
  display: grid;
  grid-template-columns: 4em 1fr;
  align-items: center;
  margin-bottom: 0.4rem;
  background-image: linear-gradient(to top, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0.2) 99%);
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  background-position: bottom right;
  background-size: calc(100% - 4em) 0%;
  background-repeat: no-repeat;
  transition: all cubic-bezier(0.075, 0.82, 0.165, 1) 0.5s;
}
#spending_level:has(:focus), #spending_level:has(:active), #cash:has(:focus), #cash:has(:active) {
  box-shadow: 0 2px 0 0 rgba(255, 255, 255, 0.5);
  background-size: calc(100% - 4em) 100%;
}
#spending_level > input, #cash > input {
  padding: 0.1em 0.3em;
}
#spending_level input, #cash input {
  background: transparent;
  border-radius: 0;
}

#assets {
  margin-top: 0.5rem;
}

.attr {
  flex-basis: 25rem;
  flex-grow: 0;
}

.info, .stats {
  flex-basis: 33%;
}

.skills {
  flex-basis: 100%;
}

.battle {
  flex-basis: 16rem;
  order: 2;
}

.weapons {
  flex-basis: calc(100% - 16rem);
  order: 2;
}

.backstory, .money {
  flex-basis: 50%;
  order: 3;
}

@media (min-width: 561px) and (max-width: 870px) {
  .battle {
    order: unset;
  }
}
@media (min-width: 561px) and (max-width: 870px) {
  .skills .content {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(26, 1fr);
  }
  .skills .content > div:nth-child(1) {
    grid-row-start: 1;
    grid-column: 1/1;
  }
  .skills .content > div:nth-child(19) {
    grid-row-start: 1;
    grid-column: 2/2;
  }
  .skills .content > div:nth-child(37) {
    grid-row-start: 19;
    grid-column: 1/1;
  }
  .skills .content > div:nth-child(55) {
    grid-row-start: 19;
    grid-column: 2/2;
  }
  .skills .content > div:nth-child(2) {
    grid-row-start: 2;
    grid-column: 1/1;
  }
  .skills .content > div:nth-child(20) {
    grid-row-start: 2;
    grid-column: 2/2;
  }
  .skills .content > div:nth-child(38) {
    grid-row-start: 20;
    grid-column: 1/1;
  }
  .skills .content > div:nth-child(56) {
    grid-row-start: 20;
    grid-column: 2/2;
  }
  .skills .content > div:nth-child(3) {
    grid-row-start: 3;
    grid-column: 1/1;
  }
  .skills .content > div:nth-child(21) {
    grid-row-start: 3;
    grid-column: 2/2;
  }
  .skills .content > div:nth-child(39) {
    grid-row-start: 21;
    grid-column: 1/1;
  }
  .skills .content > div:nth-child(57) {
    grid-row-start: 21;
    grid-column: 2/2;
  }
  .skills .content > div:nth-child(4) {
    grid-row-start: 4;
    grid-column: 1/1;
  }
  .skills .content > div:nth-child(22) {
    grid-row-start: 4;
    grid-column: 2/2;
  }
  .skills .content > div:nth-child(40) {
    grid-row-start: 22;
    grid-column: 1/1;
  }
  .skills .content > div:nth-child(58) {
    grid-row-start: 22;
    grid-column: 2/2;
  }
  .skills .content > div:nth-child(5) {
    grid-row-start: 5;
    grid-column: 1/1;
  }
  .skills .content > div:nth-child(23) {
    grid-row-start: 5;
    grid-column: 2/2;
  }
  .skills .content > div:nth-child(41) {
    grid-row-start: 23;
    grid-column: 1/1;
  }
  .skills .content > div:nth-child(59) {
    grid-row-start: 23;
    grid-column: 2/2;
  }
  .skills .content > div:nth-child(6) {
    grid-row-start: 6;
    grid-column: 1/1;
  }
  .skills .content > div:nth-child(24) {
    grid-row-start: 6;
    grid-column: 2/2;
  }
  .skills .content > div:nth-child(42) {
    grid-row-start: 24;
    grid-column: 1/1;
  }
  .skills .content > div:nth-child(60) {
    grid-row-start: 24;
    grid-column: 2/2;
  }
  .skills .content > div:nth-child(7) {
    grid-row-start: 7;
    grid-column: 1/1;
  }
  .skills .content > div:nth-child(25) {
    grid-row-start: 7;
    grid-column: 2/2;
  }
  .skills .content > div:nth-child(43) {
    grid-row-start: 25;
    grid-column: 1/1;
  }
  .skills .content > div:nth-child(61) {
    grid-row-start: 25;
    grid-column: 2/2;
  }
  .skills .content > div:nth-child(8) {
    grid-row-start: 8;
    grid-column: 1/1;
  }
  .skills .content > div:nth-child(26) {
    grid-row-start: 8;
    grid-column: 2/2;
  }
  .skills .content > div:nth-child(44) {
    grid-row-start: 26;
    grid-column: 1/1;
  }
  .skills .content > div:nth-child(62) {
    grid-row-start: 26;
    grid-column: 2/2;
  }
  .skills .content > div:nth-child(9) {
    grid-row-start: 9;
    grid-column: 1/1;
  }
  .skills .content > div:nth-child(27) {
    grid-row-start: 9;
    grid-column: 2/2;
  }
  .skills .content > div:nth-child(45) {
    grid-row-start: 27;
    grid-column: 1/1;
  }
  .skills .content > div:nth-child(63) {
    grid-row-start: 27;
    grid-column: 2/2;
  }
  .skills .content > div:nth-child(10) {
    grid-row-start: 10;
    grid-column: 1/1;
  }
  .skills .content > div:nth-child(28) {
    grid-row-start: 10;
    grid-column: 2/2;
  }
  .skills .content > div:nth-child(46) {
    grid-row-start: 28;
    grid-column: 1/1;
  }
  .skills .content > div:nth-child(64) {
    grid-row-start: 28;
    grid-column: 2/2;
  }
  .skills .content > div:nth-child(11) {
    grid-row-start: 11;
    grid-column: 1/1;
  }
  .skills .content > div:nth-child(29) {
    grid-row-start: 11;
    grid-column: 2/2;
  }
  .skills .content > div:nth-child(47) {
    grid-row-start: 29;
    grid-column: 1/1;
  }
  .skills .content > div:nth-child(65) {
    grid-row-start: 29;
    grid-column: 2/2;
  }
  .skills .content > div:nth-child(12) {
    grid-row-start: 12;
    grid-column: 1/1;
  }
  .skills .content > div:nth-child(30) {
    grid-row-start: 12;
    grid-column: 2/2;
  }
  .skills .content > div:nth-child(48) {
    grid-row-start: 30;
    grid-column: 1/1;
  }
  .skills .content > div:nth-child(66) {
    grid-row-start: 30;
    grid-column: 2/2;
  }
  .skills .content > div:nth-child(13) {
    grid-row-start: 13;
    grid-column: 1/1;
  }
  .skills .content > div:nth-child(31) {
    grid-row-start: 13;
    grid-column: 2/2;
  }
  .skills .content > div:nth-child(49) {
    grid-row-start: 31;
    grid-column: 1/1;
  }
  .skills .content > div:nth-child(67) {
    grid-row-start: 31;
    grid-column: 2/2;
  }
  .skills .content > div:nth-child(14) {
    grid-row-start: 14;
    grid-column: 1/1;
  }
  .skills .content > div:nth-child(32) {
    grid-row-start: 14;
    grid-column: 2/2;
  }
  .skills .content > div:nth-child(50) {
    grid-row-start: 32;
    grid-column: 1/1;
  }
  .skills .content > div:nth-child(68) {
    grid-row-start: 32;
    grid-column: 2/2;
  }
  .skills .content > div:nth-child(15) {
    grid-row-start: 15;
    grid-column: 1/1;
  }
  .skills .content > div:nth-child(33) {
    grid-row-start: 15;
    grid-column: 2/2;
  }
  .skills .content > div:nth-child(51) {
    grid-row-start: 33;
    grid-column: 1/1;
  }
  .skills .content > div:nth-child(69) {
    grid-row-start: 33;
    grid-column: 2/2;
  }
  .skills .content > div:nth-child(16) {
    grid-row-start: 16;
    grid-column: 1/1;
  }
  .skills .content > div:nth-child(34) {
    grid-row-start: 16;
    grid-column: 2/2;
  }
  .skills .content > div:nth-child(52) {
    grid-row-start: 34;
    grid-column: 1/1;
  }
  .skills .content > div:nth-child(70) {
    grid-row-start: 34;
    grid-column: 2/2;
  }
  .skills .content > div:nth-child(17) {
    grid-row-start: 17;
    grid-column: 1/1;
  }
  .skills .content > div:nth-child(35) {
    grid-row-start: 17;
    grid-column: 2/2;
  }
  .skills .content > div:nth-child(53) {
    grid-row-start: 35;
    grid-column: 1/1;
  }
  .skills .content > div:nth-child(71) {
    grid-row-start: 35;
    grid-column: 2/2;
  }
  .skills .content > div:nth-child(18) {
    grid-row-start: 18;
    grid-column: 1/1;
  }
  .skills .content > div:nth-child(36) {
    grid-row-start: 18;
    grid-column: 2/2;
  }
  .skills .content > div:nth-child(54) {
    grid-row-start: 36;
    grid-column: 1/1;
  }
  .skills .content > div:nth-child(72) {
    grid-row-start: 36;
    grid-column: 2/2;
  }
  .skills .content > div:nth-child(37) {
    grid-row-start: 19;
    grid-column: 1/1;
  }
  .skills .content > div:nth-child(38) {
    grid-row-start: 19;
    grid-column: 2/2;
  }
  .skills .content > div:nth-child(39) {
    grid-row-start: 20;
    grid-column: 1/1;
  }
  .skills .content > div:nth-child(40) {
    grid-row-start: 20;
    grid-column: 2/2;
  }
  .skills .content > div:nth-child(41) {
    grid-row-start: 21;
    grid-column: 1/1;
  }
  .skills .content > div:nth-child(42) {
    grid-row-start: 21;
    grid-column: 2/2;
  }
  .skills .content > div:nth-child(43) {
    grid-row-start: 22;
    grid-column: 1/1;
  }
  .skills .content > div:nth-child(44) {
    grid-row-start: 22;
    grid-column: 2/2;
  }
  .skills .content > div:nth-child(45) {
    grid-row-start: 23;
    grid-column: 1/1;
  }
  .skills .content > div:nth-child(46) {
    grid-row-start: 23;
    grid-column: 2/2;
  }
  .skills .content > div:nth-child(47) {
    grid-row-start: 24;
    grid-column: 1/1;
  }
  .skills .content > div:nth-child(48) {
    grid-row-start: 24;
    grid-column: 2/2;
  }
  .skills .content > div:nth-child(49) {
    grid-row-start: 25;
    grid-column: 1/1;
  }
  .skills .content > div:nth-child(50) {
    grid-row-start: 25;
    grid-column: 2/2;
  }
  .skills .content > div:nth-child(51) {
    grid-row-start: 26;
    grid-column: 1/1;
  }
  .skills .content > div:nth-child(52) {
    grid-row-start: 26;
    grid-column: 2/2;
  }
  .skills .content > div:nth-child(53) {
    grid-row-start: 27;
    grid-column: 1/1;
  }
  .skills .content > div:nth-child(54) {
    grid-row-start: 27;
    grid-column: 2/2;
  }
  .skills .content > div:nth-child(55) {
    grid-row-start: 28;
    grid-column: 1/1;
  }
  .skills .content > div:nth-child(56) {
    grid-row-start: 28;
    grid-column: 2/2;
  }
  .skills .content > div:nth-child(57) {
    grid-row-start: 29;
    grid-column: 1/1;
  }
  .skills .content > div:nth-child(58) {
    grid-row-start: 29;
    grid-column: 2/2;
  }
  .skills .content > div:nth-child(59) {
    grid-row-start: 30;
    grid-column: 1/1;
  }
  .skills .content > div:nth-child(60) {
    grid-row-start: 30;
    grid-column: 2/2;
  }
  .skills .content > div:nth-child(61) {
    grid-row-start: 31;
    grid-column: 1/1;
  }
  .skills .content > div:nth-child(62) {
    grid-row-start: 31;
    grid-column: 2/2;
  }
  .skills .content > button:last-child {
    grid-column: 1/3;
    width: 100%;
    margin-top: 0.5rem;
  }
}
@media (max-width: 560px) {
  .sheet {
    flex-direction: column;
  }
  .skills .content {
    display: flex;
    flex-direction: column;
  }
  .backstory, .money {
    flex-basis: 100%;
  }
  .weapons > .content > div {
    grid-template-columns: repeat(6, 1fr);
  }
  .weapons > .content > div.table_title > div {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(to top, rgba(38, 38, 38, 0.2) 0%, rgba(38, 38, 38, 0.2) 100%);
    background-size: calc(100% - 2rem) 70%;
    background-repeat: no-repeat;
    background-position: center;
  }
  .weapons > .content > div > * {
    grid-column: span 1;
  }
  .weapons > .content > div :first-child {
    grid-column: 1/span 3;
  }
  .weapons > .content > div :nth-child(2) {
    grid-column: 4/span 3;
  }
}
.sheet.font-large .battle {
  order: unset;
}
.sheet.font-large .skills .content {
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(26, 1fr);
}
.sheet.font-large .skills .content > div:nth-child(1) {
  grid-row-start: 1;
  grid-column: 1/1;
}
.sheet.font-large .skills .content > div:nth-child(19) {
  grid-row-start: 1;
  grid-column: 2/2;
}
.sheet.font-large .skills .content > div:nth-child(37) {
  grid-row-start: 19;
  grid-column: 1/1;
}
.sheet.font-large .skills .content > div:nth-child(55) {
  grid-row-start: 19;
  grid-column: 2/2;
}
.sheet.font-large .skills .content > div:nth-child(2) {
  grid-row-start: 2;
  grid-column: 1/1;
}
.sheet.font-large .skills .content > div:nth-child(20) {
  grid-row-start: 2;
  grid-column: 2/2;
}
.sheet.font-large .skills .content > div:nth-child(38) {
  grid-row-start: 20;
  grid-column: 1/1;
}
.sheet.font-large .skills .content > div:nth-child(56) {
  grid-row-start: 20;
  grid-column: 2/2;
}
.sheet.font-large .skills .content > div:nth-child(3) {
  grid-row-start: 3;
  grid-column: 1/1;
}
.sheet.font-large .skills .content > div:nth-child(21) {
  grid-row-start: 3;
  grid-column: 2/2;
}
.sheet.font-large .skills .content > div:nth-child(39) {
  grid-row-start: 21;
  grid-column: 1/1;
}
.sheet.font-large .skills .content > div:nth-child(57) {
  grid-row-start: 21;
  grid-column: 2/2;
}
.sheet.font-large .skills .content > div:nth-child(4) {
  grid-row-start: 4;
  grid-column: 1/1;
}
.sheet.font-large .skills .content > div:nth-child(22) {
  grid-row-start: 4;
  grid-column: 2/2;
}
.sheet.font-large .skills .content > div:nth-child(40) {
  grid-row-start: 22;
  grid-column: 1/1;
}
.sheet.font-large .skills .content > div:nth-child(58) {
  grid-row-start: 22;
  grid-column: 2/2;
}
.sheet.font-large .skills .content > div:nth-child(5) {
  grid-row-start: 5;
  grid-column: 1/1;
}
.sheet.font-large .skills .content > div:nth-child(23) {
  grid-row-start: 5;
  grid-column: 2/2;
}
.sheet.font-large .skills .content > div:nth-child(41) {
  grid-row-start: 23;
  grid-column: 1/1;
}
.sheet.font-large .skills .content > div:nth-child(59) {
  grid-row-start: 23;
  grid-column: 2/2;
}
.sheet.font-large .skills .content > div:nth-child(6) {
  grid-row-start: 6;
  grid-column: 1/1;
}
.sheet.font-large .skills .content > div:nth-child(24) {
  grid-row-start: 6;
  grid-column: 2/2;
}
.sheet.font-large .skills .content > div:nth-child(42) {
  grid-row-start: 24;
  grid-column: 1/1;
}
.sheet.font-large .skills .content > div:nth-child(60) {
  grid-row-start: 24;
  grid-column: 2/2;
}
.sheet.font-large .skills .content > div:nth-child(7) {
  grid-row-start: 7;
  grid-column: 1/1;
}
.sheet.font-large .skills .content > div:nth-child(25) {
  grid-row-start: 7;
  grid-column: 2/2;
}
.sheet.font-large .skills .content > div:nth-child(43) {
  grid-row-start: 25;
  grid-column: 1/1;
}
.sheet.font-large .skills .content > div:nth-child(61) {
  grid-row-start: 25;
  grid-column: 2/2;
}
.sheet.font-large .skills .content > div:nth-child(8) {
  grid-row-start: 8;
  grid-column: 1/1;
}
.sheet.font-large .skills .content > div:nth-child(26) {
  grid-row-start: 8;
  grid-column: 2/2;
}
.sheet.font-large .skills .content > div:nth-child(44) {
  grid-row-start: 26;
  grid-column: 1/1;
}
.sheet.font-large .skills .content > div:nth-child(62) {
  grid-row-start: 26;
  grid-column: 2/2;
}
.sheet.font-large .skills .content > div:nth-child(9) {
  grid-row-start: 9;
  grid-column: 1/1;
}
.sheet.font-large .skills .content > div:nth-child(27) {
  grid-row-start: 9;
  grid-column: 2/2;
}
.sheet.font-large .skills .content > div:nth-child(45) {
  grid-row-start: 27;
  grid-column: 1/1;
}
.sheet.font-large .skills .content > div:nth-child(63) {
  grid-row-start: 27;
  grid-column: 2/2;
}
.sheet.font-large .skills .content > div:nth-child(10) {
  grid-row-start: 10;
  grid-column: 1/1;
}
.sheet.font-large .skills .content > div:nth-child(28) {
  grid-row-start: 10;
  grid-column: 2/2;
}
.sheet.font-large .skills .content > div:nth-child(46) {
  grid-row-start: 28;
  grid-column: 1/1;
}
.sheet.font-large .skills .content > div:nth-child(64) {
  grid-row-start: 28;
  grid-column: 2/2;
}
.sheet.font-large .skills .content > div:nth-child(11) {
  grid-row-start: 11;
  grid-column: 1/1;
}
.sheet.font-large .skills .content > div:nth-child(29) {
  grid-row-start: 11;
  grid-column: 2/2;
}
.sheet.font-large .skills .content > div:nth-child(47) {
  grid-row-start: 29;
  grid-column: 1/1;
}
.sheet.font-large .skills .content > div:nth-child(65) {
  grid-row-start: 29;
  grid-column: 2/2;
}
.sheet.font-large .skills .content > div:nth-child(12) {
  grid-row-start: 12;
  grid-column: 1/1;
}
.sheet.font-large .skills .content > div:nth-child(30) {
  grid-row-start: 12;
  grid-column: 2/2;
}
.sheet.font-large .skills .content > div:nth-child(48) {
  grid-row-start: 30;
  grid-column: 1/1;
}
.sheet.font-large .skills .content > div:nth-child(66) {
  grid-row-start: 30;
  grid-column: 2/2;
}
.sheet.font-large .skills .content > div:nth-child(13) {
  grid-row-start: 13;
  grid-column: 1/1;
}
.sheet.font-large .skills .content > div:nth-child(31) {
  grid-row-start: 13;
  grid-column: 2/2;
}
.sheet.font-large .skills .content > div:nth-child(49) {
  grid-row-start: 31;
  grid-column: 1/1;
}
.sheet.font-large .skills .content > div:nth-child(67) {
  grid-row-start: 31;
  grid-column: 2/2;
}
.sheet.font-large .skills .content > div:nth-child(14) {
  grid-row-start: 14;
  grid-column: 1/1;
}
.sheet.font-large .skills .content > div:nth-child(32) {
  grid-row-start: 14;
  grid-column: 2/2;
}
.sheet.font-large .skills .content > div:nth-child(50) {
  grid-row-start: 32;
  grid-column: 1/1;
}
.sheet.font-large .skills .content > div:nth-child(68) {
  grid-row-start: 32;
  grid-column: 2/2;
}
.sheet.font-large .skills .content > div:nth-child(15) {
  grid-row-start: 15;
  grid-column: 1/1;
}
.sheet.font-large .skills .content > div:nth-child(33) {
  grid-row-start: 15;
  grid-column: 2/2;
}
.sheet.font-large .skills .content > div:nth-child(51) {
  grid-row-start: 33;
  grid-column: 1/1;
}
.sheet.font-large .skills .content > div:nth-child(69) {
  grid-row-start: 33;
  grid-column: 2/2;
}
.sheet.font-large .skills .content > div:nth-child(16) {
  grid-row-start: 16;
  grid-column: 1/1;
}
.sheet.font-large .skills .content > div:nth-child(34) {
  grid-row-start: 16;
  grid-column: 2/2;
}
.sheet.font-large .skills .content > div:nth-child(52) {
  grid-row-start: 34;
  grid-column: 1/1;
}
.sheet.font-large .skills .content > div:nth-child(70) {
  grid-row-start: 34;
  grid-column: 2/2;
}
.sheet.font-large .skills .content > div:nth-child(17) {
  grid-row-start: 17;
  grid-column: 1/1;
}
.sheet.font-large .skills .content > div:nth-child(35) {
  grid-row-start: 17;
  grid-column: 2/2;
}
.sheet.font-large .skills .content > div:nth-child(53) {
  grid-row-start: 35;
  grid-column: 1/1;
}
.sheet.font-large .skills .content > div:nth-child(71) {
  grid-row-start: 35;
  grid-column: 2/2;
}
.sheet.font-large .skills .content > div:nth-child(18) {
  grid-row-start: 18;
  grid-column: 1/1;
}
.sheet.font-large .skills .content > div:nth-child(36) {
  grid-row-start: 18;
  grid-column: 2/2;
}
.sheet.font-large .skills .content > div:nth-child(54) {
  grid-row-start: 36;
  grid-column: 1/1;
}
.sheet.font-large .skills .content > div:nth-child(72) {
  grid-row-start: 36;
  grid-column: 2/2;
}
.sheet.font-large .skills .content > div:nth-child(37) {
  grid-row-start: 19;
  grid-column: 1/1;
}
.sheet.font-large .skills .content > div:nth-child(38) {
  grid-row-start: 19;
  grid-column: 2/2;
}
.sheet.font-large .skills .content > div:nth-child(39) {
  grid-row-start: 20;
  grid-column: 1/1;
}
.sheet.font-large .skills .content > div:nth-child(40) {
  grid-row-start: 20;
  grid-column: 2/2;
}
.sheet.font-large .skills .content > div:nth-child(41) {
  grid-row-start: 21;
  grid-column: 1/1;
}
.sheet.font-large .skills .content > div:nth-child(42) {
  grid-row-start: 21;
  grid-column: 2/2;
}
.sheet.font-large .skills .content > div:nth-child(43) {
  grid-row-start: 22;
  grid-column: 1/1;
}
.sheet.font-large .skills .content > div:nth-child(44) {
  grid-row-start: 22;
  grid-column: 2/2;
}
.sheet.font-large .skills .content > div:nth-child(45) {
  grid-row-start: 23;
  grid-column: 1/1;
}
.sheet.font-large .skills .content > div:nth-child(46) {
  grid-row-start: 23;
  grid-column: 2/2;
}
.sheet.font-large .skills .content > div:nth-child(47) {
  grid-row-start: 24;
  grid-column: 1/1;
}
.sheet.font-large .skills .content > div:nth-child(48) {
  grid-row-start: 24;
  grid-column: 2/2;
}
.sheet.font-large .skills .content > div:nth-child(49) {
  grid-row-start: 25;
  grid-column: 1/1;
}
.sheet.font-large .skills .content > div:nth-child(50) {
  grid-row-start: 25;
  grid-column: 2/2;
}
.sheet.font-large .skills .content > div:nth-child(51) {
  grid-row-start: 26;
  grid-column: 1/1;
}
.sheet.font-large .skills .content > div:nth-child(52) {
  grid-row-start: 26;
  grid-column: 2/2;
}
.sheet.font-large .skills .content > div:nth-child(53) {
  grid-row-start: 27;
  grid-column: 1/1;
}
.sheet.font-large .skills .content > div:nth-child(54) {
  grid-row-start: 27;
  grid-column: 2/2;
}
.sheet.font-large .skills .content > div:nth-child(55) {
  grid-row-start: 28;
  grid-column: 1/1;
}
.sheet.font-large .skills .content > div:nth-child(56) {
  grid-row-start: 28;
  grid-column: 2/2;
}
.sheet.font-large .skills .content > div:nth-child(57) {
  grid-row-start: 29;
  grid-column: 1/1;
}
.sheet.font-large .skills .content > div:nth-child(58) {
  grid-row-start: 29;
  grid-column: 2/2;
}
.sheet.font-large .skills .content > div:nth-child(59) {
  grid-row-start: 30;
  grid-column: 1/1;
}
.sheet.font-large .skills .content > div:nth-child(60) {
  grid-row-start: 30;
  grid-column: 2/2;
}
.sheet.font-large .skills .content > div:nth-child(61) {
  grid-row-start: 31;
  grid-column: 1/1;
}
.sheet.font-large .skills .content > div:nth-child(62) {
  grid-row-start: 31;
  grid-column: 2/2;
}
.sheet.font-large .skills .content > button:last-child {
  grid-column: 1/3;
  width: 100%;
  margin-top: 0.5rem;
}

.sheet.font-too-large .battle {
  order: unset;
}
.sheet.font-too-large .sheet {
  flex-direction: column;
}
.sheet.font-too-large .skills .content {
  display: flex;
  flex-direction: column;
}
.sheet.font-too-large .backstory, .sheet.font-too-large .money {
  flex-basis: 100%;
}
.sheet.font-too-large .weapons > .content > div {
  grid-template-columns: repeat(6, 1fr);
}
.sheet.font-too-large .weapons > .content > div.table_title > div {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(to top, rgba(38, 38, 38, 0.2) 0%, rgba(38, 38, 38, 0.2) 100%);
  background-size: calc(100% - 2rem) 70%;
  background-repeat: no-repeat;
  background-position: center;
}
.sheet.font-too-large .weapons > .content > div > * {
  grid-column: span 1;
}
.sheet.font-too-large .weapons > .content > div :first-child {
  grid-column: 1/span 3;
}
.sheet.font-too-large .weapons > .content > div :nth-child(2) {
  grid-column: 4/span 3;
}

.top {
  background-color: #efeff1;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.top > h2 {
  font-family: "NEXON Lv1 Gothic OTF";
  color: var(--main-darken);
}
.setting {
  background: #efeff1;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.setting button {
  font-family: "NEXON Lv1 Gothic OTF";
  border: 0;
  padding: 0.5rem 1rem;
  font-size: 1.6rem;
  cursor: pointer;
  transition: 0.2s ease-out;
  transition-property: background, color, box-shadow, border-radius;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  background: var(--main-color);
  color: var(--main-darken);
  border-radius: 0.4rem;
}
.setting button:hover, .setting button:focus, .setting button:active {
  background: transparent;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px, var(--main-color) 0 -2px 0 0 inset;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

#howToggle {
  border: none;
  outline: none;
  background: var(--main-darken);
  font-family: "NEXON Lv1 Gothic OTF";
  font-size: 2rem;
  color: #efeff1;
  border-radius: 0.4rem;
  padding: 0.5rem 1rem;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  cursor: pointer;
  z-index: 11;
  transition: 0.2s ease-out;
  transition-property: background, color, box-shadow, border-radius;
}
#howToggle:hover, #howToggle:focus, #howToggle:active {
  background: transparent;
  color: var(--main-darken);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px, var(--main-color) 0 -2px 0 0 inset;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.how-to-use {
  position: relative;
  max-width: 600px;
  padding: 0 1rem;
  border-radius: 1rem;
  margin-top: 1.2rem;
  background-color: #fff;
  color: #36373d;
}
.how-to-use p {
  margin-block: 0.6em;
  word-wrap: break-word;
  word-break: keep-all;
}
.how-to-use p:has(i.fa-circle-exclamation) {
  color: #cc5c52;
}
.how-to-use::before {
  content: url("data:image/svg+xml,%3Csvg width='16' height='6' fill='%23ffffff' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 6s1.796-.013 4.67-3.615C5.851.9 6.93.006 8 0c1.07-.006 2.148.887 3.343 2.385C14.233 6.005 16 6 16 6H0z'/%3E%3C/svg%3E");
  position: absolute;
  bottom: 100%;
  left: calc(50% - 8px);
}

.setting_item {
  margin-top: 3rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}

#save {
  padding: 1rem 2rem;
}

#saveslots {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  flex-basis: 100%;
}

.saveslot {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  padding: 0.4rem 0.2rem;
  border-radius: 0.4rem;
  cursor: pointer;
  transition: background-size 0.3s ease-in-out;
  background: linear-gradient(to right, var(--main-color) -s 0%, var(--main-color) -s 100%);
  background-color: #fff;
  background-size: 0% 100%;
  background-position: center left;
  background-repeat: no-repeat;
  padding-left: 1rem;
  font-size: 1.6rem;
}
.saveslot span {
  font-family: "NEXON Lv1 Gothic OTF";
  transition: transform 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
  color: var(--main-darken);
  font-weight: 300;
}
.saveslot:hover, .saveslot:focus, .saveslot:has(input:checked) {
  background-size: 100% 100%;
}
.saveslot:hover::before, .saveslot:focus::before, .saveslot:has(input:checked)::before {
  content: "\f138";
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  position: absolute;
  left: -1.5em;
  color: var(--main-color);
}
.saveslot:hover span, .saveslot:focus span, .saveslot:has(input:checked) span {
  transform: skew(-10deg);
}
.saveslot > input {
  display: none;
}

.design-box {
  display: flex;
  width: 100%;
  max-width: 960px;
  justify-content: space-between;
}
.design-box .how-to-use {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  gap: 0.8em;
  margin-top: 0;
  margin-bottom: 1rem;
  background-color: #efeff1;
  font-size: 1.4rem;
}
.design-box .how-to-use::before {
  content: url("data:image/svg+xml,%3Csvg width='16' height='6' fill='%23efeff1' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 6s1.796-.013 4.67-3.615C5.851.9 6.93.006 8 0c1.07-.006 2.148.887 3.343 2.385C14.233 6.005 16 6 16 6H0z'/%3E%3C/svg%3E");
  bottom: -6px;
  transform: rotate(180deg);
  left: 1rem;
}
.design-box .how-to-use:nth-child(2)::before {
  right: 1rem;
}

#design {
  width: 100%;
  max-width: 960px;
  display: flex;
  justify-content: space-between;
}
#design button {
  background: transparent;
  box-shadow: none;
  color: var(--main-color);
  font-size: 1.6rem;
  padding: 0.5rem 1rem;
  border: none;
  outline: 0;
  cursor: pointer;
}
#design button[class^=color-theme] {
  width: 2.6rem;
  margin-left: 0.2rem;
  padding: 0.5rem 0.9rem;
}
#design button:hover, #design button:focus, #design button:active {
  background: transparent;
  box-shadow: none;
  color: var(--main-darken);
}

.hide {
  display: none !important;
}