@charset "UTF-8";
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard-dynamic-subset.css");
* {
  font-family: "Pretendard", sans-serif;
}

*:focus {
  outline: none;
}

@supports (-webkit-appearance: none) or (-moz-appearance: none) {
  input[type=checkbox].ckbx,
  input[type=radio].ckbx {
    --active: #3a9488;
    --active-inner: #F0F1F9;
    --focus: 3px rgba(0,66,37, 0.3);
    --border: #2c695f;
    --border-hover: var(--active);
    --background: #fff;
    --disabled: #f6f8ff;
    --disabled-inner: #e1e6f9;
    -webkit-appearance: none;
    -moz-appearance: none;
    height: 21px;
    outline: none;
    display: inline-block;
    vertical-align: top;
    position: relative;
    margin: 0;
    cursor: pointer;
    border: 1px solid var(--bc, var(--border));
    background: var(--b, var(--background));
    transition: background 0.3s, border-color 0.3s, box-shadow 0.2s;
  }
  input[type=checkbox].ckbx:after,
  input[type=radio].ckbx:after {
    content: "";
    display: block;
    left: 0;
    top: 0;
    position: absolute;
    transition: transform var(--d-t, 0.3s) var(--d-t-e, ease), opacity var(--d-o, 0.2s);
  }
  input[type=checkbox].ckbx:checked,
  input[type=radio].ckbx:checked {
    --b: var(--active);
    --bc: var(--active);
    --d-o: 0.3s;
    --d-t: 0.6s;
    --d-t-e: cubic-bezier(0.2, 0.85, 0.32, 1.2);
  }
  input[type=checkbox].ckbx:disabled,
  input[type=radio].ckbx:disabled {
    --b: var(--disabled);
    cursor: not-allowed;
    opacity: 0.9;
  }
  input[type=checkbox].ckbx:disabled:checked,
  input[type=radio].ckbx:disabled:checked {
    --b: var(--disabled-inner);
    --bc: var(--border);
  }
  input[type=checkbox].ckbx:disabled + label,
  input[type=radio].ckbx:disabled + label {
    cursor: not-allowed;
  }
  input[type=checkbox].ckbx:hover:not(:checked):not(:disabled),
  input[type=radio].ckbx:hover:not(:checked):not(:disabled) {
    --bc: var(--border-hover);
  }
  input[type=checkbox].ckbx:focus,
  input[type=radio].ckbx:focus {
    box-shadow: 0 0 0 var(--focus);
  }
  input[type=checkbox].ckbx:not(.switch),
  input[type=radio].ckbx:not(.switch) {
    width: 21px;
  }
  input[type=checkbox].ckbx:not(.switch):after,
  input[type=radio].ckbx:not(.switch):after {
    opacity: var(--o, 0);
  }
  input[type=checkbox].ckbx:not(.switch):checked,
  input[type=radio].ckbx:not(.switch):checked {
    --o: 1;
  }
  input[type=checkbox].ckbx + label,
  input[type=radio].ckbx + label {
    font-size: 1.4rem;
    line-height: 21px;
    display: inline-block;
    vertical-align: top;
    cursor: pointer;
    margin-left: 4px;
  }
  input[type=checkbox].ckbx:not(.switch) {
    border-radius: 7px;
  }
  input[type=checkbox].ckbx:not(.switch):after {
    width: 5px;
    height: 9px;
    border: 2px solid var(--active-inner);
    border-top: 0;
    border-left: 0;
    left: 7px;
    top: 4px;
    transform: rotate(var(--r, 20deg));
  }
  input[type=checkbox].ckbx:not(.switch):checked {
    --r: 43deg;
  }
  input[type=checkbox].ckbx.switch {
    width: 38px;
    border-radius: 11px;
  }
  input[type=checkbox].ckbx.switch:after {
    left: 2px;
    top: 2px;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    background: var(--ab, var(--border));
    transform: translateX(var(--x, 0));
  }
  input[type=checkbox].ckbx.switch:checked {
    --ab: var(--active-inner);
    --x: 17px;
  }
  input[type=checkbox].ckbx.switch:disabled:not(:checked):after {
    opacity: 0.6;
  }
  input[type=radio].ckbx {
    border-radius: 50%;
  }
  input[type=radio].ckbx:after {
    width: 19px;
    height: 19px;
    border-radius: 50%;
    background: var(--active-inner);
    opacity: 0;
    transform: scale(var(--s, 0.7));
  }
  input[type=radio].ckbx:checked {
    --s: 0.5;
  }
}
.setting > label {
  font-family: "NEXON Lv1 Gothic OTF";
}

.sheet {
  text-align: center;
  background-color: #888888;
  display: flex;
  flex-wrap: wrap;
}
.sheet .sheet_box:first-child, .sheet .sheet_box:nth-child(2) {
  flex-basis: 50%;
}
.sheet .title {
  font-family: "NEXON Lv1 Gothic OTF";
  font-size: 2rem;
  color: white;
  background: linear-gradient(black, #262626);
}

.sheet_box {
  background-color: #c4beb6;
  font-size: 1.6rem;
}
.sheet_box div:not(.option) > input:not(._name, [type=checkbox]), .sheet_box textarea {
  background-color: rgba(255, 255, 255, 0.5);
  border: 0;
}
.sheet_box textarea {
  width: 100%;
  border-radius: 0;
}
.sheet_box .option {
  gap: 1rem;
  font-size: 1.4rem;
  background: #262626;
  color: floralwhite;
  padding: 1rem 10%;
}
.sheet_box .option > span {
  line-height: 1.5em;
}

.table_title {
  font-weight: bold;
}

.attr .content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-auto-flow: column;
}
.attr .content > div {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  align-content: center;
  flex-wrap: wrap;
  height: 6rem;
}
.attr .content > div > input {
  width: 2.5em;
  height: 2em;
  font-size: 2rem;
  text-align: center;
}
.attr .content > div .halfvalue, .attr .content > div .fifthvalue {
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.stats .content {
  display: flex;
  flex-wrap: wrap;
  text-align: left;
}
.stats .content > div {
  display: flex;
  width: 100%;
}
.stats .content > div span {
  display: inline-block;
  width: 3em;
  flex-shrink: 0;
}
.stats .content > div input, .stats .content > div span.input {
  display: inline-block;
  background-color: rgba(255, 255, 255, 0.5);
  border: 0;
  padding: 1px 2px;
  font-size: 1.2rem;
}
.stats .content > div input {
  font-size: 1.6rem;
  width: 2em;
}
.stats .content > div#mp, .stats .content > div#hp {
  width: 50%;
}
.stats .content > div#luck input {
  width: 2em;
  flex-basis: calc(100% - 2em);
  flex-grow: 0;
  flex-shrink: 1;
}
.skills .option {
  display: flex;
  position: relative;
  align-items: center;
  justify-items: start;
}
.skills .option div:not(.skill_point) > span {
  display: block;
  text-align: left;
  position: relative;
}

.skill_point {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: 0.4rem;
}
.skill_point input {
  width: 6em !important;
}

#sp_0_text {
  position: absolute;
  left: 50%;
  bottom: calc(100% + 0.4rem);
  transform: translate(-50%, 0%);
  padding: 0.2rem 1rem;
  background-color: #333;
  color: #fff;
  border-radius: 4px;
  font-size: 14px;
  line-height: 1.4;
  white-space: nowrap;
  outline: 0;
  opacity: 0;
}
#sp_0_text::before {
  content: "현재 직업 기능점수: ";
}

.skill_point > div > span:hover #sp_0_text, .skill_point > div > span:focus #sp_0_text, .skill_point > div > span:active #sp_0_text {
  opacity: 1;
}

.skills .content {
  display: grid;
  grid-template-columns: repeat(3, 25rem);
  grid-template-rows: repeat(18, 1fr);
  grid-auto-flow: column;
  gap: 1px;
  -moz-column-gap: 3rem;
       column-gap: 3rem;
  justify-items: start;
  justify-content: center;
}
.skills .content > div {
  display: flex;
  position: relative;
  height: 1.6em;
  width: 100%;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: center;
}
.skills .content .skill_name {
  width: calc(100% - 7.6em);
  display: inline-block;
}
.skills .content .skill_name::after {
  content: "(" attr(default) "%)";
  font-size: 1rem;
}
.skills .content [id^=otherskill] {
  position: relative;
}
.skills .content [id^=otherskill] .skill_name::after {
  content: "";
}
.skills .content [id^=otherskill] .skill_name input {
  padding: 0;
  margin: 0;
  background: transparent;
  border: none;
  font-size: 1rem;
  width: 1.5rem;
}
.skills .content [id^=otherskill] .skill_name span {
  font-size: 1rem;
}
.skills .content [id^=otherskill] .skill_name input._name {
  font-size: 1.6rem;
  width: 75%;
}
.skills .content input {
  width: 2em;
  height: 100%;
  text-align: center;
}
.skills .content .value {
  font-weight: bold;
}

#cthulhu_mythos > input[type=checkbox] {
  opacity: 0;
}

#otherskill1 > .skill_icon.remove, #weapon1 > .skill_icon.remove {
  display: none;
}

input.sp, input.sp-add {
  background-color: rgba(255, 255, 255, 0.2) !important;
  transition: background-color 0.2s ease;
}
input.sp:not(:-moz-placeholder-shown), input.sp-add:not(:-moz-placeholder-shown) {
  background-color: rgba(255, 255, 255, 0.5) !important;
}
input.sp:hover, input.sp:focus, input.sp:active, input.sp:not(:placeholder-shown), input.sp-add:hover, input.sp-add:focus, input.sp-add:active, input.sp-add:not(:placeholder-shown) {
  background-color: rgba(255, 255, 255, 0.5) !important;
}

.skills .content > div[id]:has(input[class^=sp]:not(:-moz-placeholder-shown)) {
  background-color: #c4beb6;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset, #c4beb6 0 2px 0 0;
}

.skills .content > div[id]:has(input[class^=sp]:not(:placeholder-shown)) {
  background-color: #c4beb6;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset, #c4beb6 0 2px 0 0;
}

.skill_icon {
  position: absolute;
}
.skill_icon.grip {
  right: 100%;
}
.skill_icon.remove {
  right: -2rem;
  cursor: pointer;
}

.halfvalue, .fifthvalue {
  font-size: 0.5em;
  padding-left: 2px;
  text-align: center;
  width: 2em;
}

.weapons .content > div {
  display: grid;
  grid-template-columns: 12em 8em repeat(6, 1fr);
  font-size: 1.6rem;
}

.table_item > input {
  width: 100%;
}

.skills input[type=checkbox] {
  height: 1.6rem;
  width: 1.6rem;
  border: 0;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  position: relative;
}
.skills input[type=checkbox]::before {
  content: "";
  display: inline-block;
  width: 1.6rem;
  height: 1.6rem;
  background: rgba(255, 255, 255, 0.1);
  border: none;
  border-radius: 0.4rem;
  transition: all 0.3s ease-in-out;
}
.skills input[type=checkbox]::after {
  opacity: 0;
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23ffffff' viewBox='0 0 16 16'%3E%3Cpath d='M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z'/%3E%3C/svg%3E");
  position: absolute;
  top: 0;
  left: 0;
  width: 1.6rem;
  height: 1.6rem;
  transform: scale(1.2);
  transition: all 0.3s ease-in-out;
}
.skills input[type=checkbox]:checked::before {
  box-shadow: 0 0 1px 1px rgba(255, 255, 255, 0.2);
  background: transparent;
}
.skills input[type=checkbox]:checked::after {
  opacity: 1;
}

.hide {
  display: none;
}