html(lang='ko')
  head
    title Rolling Mint : CoC 캐릭터 시트
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')

    link(rel='stylesheet' href='../default.css')
    link(rel='stylesheet' href='cocsheetstyle.css')
    meta(property='og:type' content='website')
    meta(property='og:url' content='https://headdrop.github.io/RollingMint/')
    meta(property='og:title' content='Rolling Mint')
    meta(property='og:image' content='https://raw.githubusercontent.com/headdrop/RollingMint/main/source/ogimg.png')
    meta(property='og:description' content='Roll20 기반 Call of Cthulhu 7th 시트를 작성, 백업할 수 있습니다.')
    meta(property='og:site_name' content='Rolling Mint')
    meta(property='og:locale' content='ko_KR')
    link(rel='icon' type='image/svg+xml' href='../source/favicon.svg')
    link(rel='icon' type='image/png' href='../source/favicon.png')

    script(src='script.js')
  body
    #wrapper
      nav#float-menu
      .setting
        #save.setting_item
          #saveslots
            label.saveslot
              input(name='saveslot' type='radio' value=1)
              span [1]-캐릭터명
            label.saveslot
              input(name='saveslot' type='radio' value=2)
              span [2]-캐릭터명
            label.saveslot
              input(name='saveslot' type='radio' value=3)
              span [3]-캐릭터명
            label.saveslot
              input(name='saveslot' type='radio' value=4)
              span [4]-캐릭터명
            label.saveslot
              input(name='saveslot' type='radio' value=5)
              span [5]-캐릭터명
          span 선택한 슬롯
          button#slot_get 불러오기
          button#slot_set 저장
          button#slot_remove 삭제
        #export.setting_item
          button#export_json JSON 파일로 내보내기
          button#export_vtt Roll20 VTT로 내보내기
          button#export_ccf 코코포리아 API로 복사
        #import.setting_item
          input#import_file(type='file' accept='.json')
          .desc
            p VTT에서 export 한 JSON 파일
            p rolling mint (이 사이트)에서 내보내기 한 JSON 파일
            p 코코포리아 API형식의 텍스트를 .JSON 확장자로 저장한 파일
          button#import_button 불러오기
      .sheet
        .sheet_box.info
          .title 탐사자 정보
          .content
            #name(data-title='이름')
              input(type='text')
            #player(data-title='PL ')
              input(type='text')
            #occupation(data-title='직업')
              input(type='text')
            #age(data-title='나이')
              input(type='text')
            #sex(data-title='성별')
              input(type='text')
            #residence(data-title='거주지')
              input(type='text')
            #birthplace(data-title='출생지')
              input(type='text')
        .sheet_box.attr
          .title 특성치
          .content
            #str
              span 근력
              input.value(type='text' value='50')
              span.halfvalue
              span.fifthvalue
            #con
              span 건강
              input.value(type='text' value='50')
              span.halfvalue
              span.fifthvalue
            #siz
              span 크기
              input.value(type='text' value='50')
              span.halfvalue
              span.fifthvalue
            #dex
              span 민첩성
              input.value(type='text' value='50')
              span.halfvalue
              span.fifthvalue
            #app 
              span 외모
              input.value(type='text' value='50')
              span.halfvalue
              span.fifthvalue
            #int
              span 지능
              input.value(type='text' value='50')
              span.halfvalue
              span.fifthvalue
            #pow
              span 정신력
              input.value(type='text' value='50')
              span.halfvalue
              span.fifthvalue
            #edu
              span 교육
              input.value(type='text' value='50')
              span.halfvalue
              span.fifthvalue
            #mov
              span 이동력
              input.value 
              <i class="fa-solid fa-calculator"></i>
        .sheet_box.stats
          .title 상태
          .content
            #hp
              span.sub_title 체력
              input
              span.input.max
              input#dying(type='checkbox')
              span.desc 빈사
              input#major-wound-toggle(type='checkbox')
              span.desc 중상
              input#majorwoundcurrent(type='text' placeholder='중상 설명')
            #mp
              span.sub_title 마력
              input
              span.input.max
            #luck 
              span.sub_title 운
              input(placeholder="3D6*5")
            #san
              span.sub_title 이성
              span.input
              input
              span.input.max
              input#san_start
              input#temp_insane(type='checkbox')
              span.desc 일시적 광기
              input#indef_insane(type='checkbox')
              span.desc 장기적 광기
            input#current_mental_condition(type='text' placeholder='현재 정신 상태')
        .sheet_box.battle
          .title 전투
          .content
            #damage_bonus(data-title='피해 보너스') 
              input
            #build(data-title='체구') 
              input
            #dodge_(data-title='회피') 
              div
                span
                span.halfvalue 
                span.fifthvalue
        .sheet_box.skills
          .title 탐사자 기능
          .option
            div
              span
                input(type='radio' name='skill-type' checked value=1)
                | 초기, 추가 기능 점수를 구분해서 입력
              span
                input(type='radio' name='skill-type' value=2)
                | 기능 점수를 직접 입력
            div.skill_point
              div 
                span 초기 기능점수
                  span#sp_0_text POW*4+SIZ*5
                input#sp_0(type='text' readonly)
              div 
                span 남은 기능점수
                input#sp_remain(type='text' readonly )
              div
                span 추가 기능점수
                input#sp_add(type='text' readonly)
          .content
            #appraise(order='1')
              input(type='checkbox')
              div.skill_name(default='05') 감정
              input.sp(placeholder='')
              input.sp-add(placeholder='')
              input(class="value" value='05')
              span.halfvalue
              span.fifthvalue
            #archaeology(order='2')
              input(type='checkbox')
              div.skill_name(default='01') 고고학
              input.sp(placeholder='')
              input.sp-add(placeholder='')
              input(class="value" value='01')
              span.halfvalue
              span.fifthvalue
            #spot_hidden(order='3')
              input(type='checkbox')
              div.skill_name(default='25') 관찰력
              input.sp(placeholder='')
              input.sp-add(placeholder='')
              input(class="value" value='25')
              span.halfvalue
              span.fifthvalue
            #fighting_brawl(order='4')
              input(type='checkbox')
              div.skill_name(default='25') 근접전(격투)
              input.sp(placeholder='')
              input.sp-add(placeholder='')
              input(class="value" value='25')
              span.halfvalue
              span.fifthvalue
            #mech_repair(order='5') 
              input(type='checkbox')
              div.skill_name(default='10') 기계수리
              input.sp(placeholder='')
              input.sp-add(placeholder='')
              input(class="value" value='10')
              span.halfvalue
              span.fifthvalue
            #jump(order='6')
              input(type='checkbox')
              div.skill_name(default='20') 도약
              input.sp(placeholder='')
              input.sp-add(placeholder='')
              input(class="value" value='20')
              span.halfvalue
              span.fifthvalue
            #listen(order='7')
              input(type='checkbox')
              div.skill_name(default='20') 듣기
              input.sp(placeholder='')
              input.sp-add(placeholder='')
              input(class="value" value='20')
              span.halfvalue
              span.fifthvalue
            #fast_talk(order='8')
              input(type='checkbox')
              div.skill_name(default='05') 말재주
              input.sp(placeholder='')
              input.sp-add(placeholder='')
              input(class="value" value='05')
              span.halfvalue
              span.fifthvalue
            #charm(order='9')
              input(type='checkbox')
              div.skill_name(default='15') 매혹
              input.sp(placeholder='')
              input.sp-add(placeholder='')
              input(class="value" value='15')
              span.halfvalue
              span.fifthvalue
            #law(order='10')
              input(type='checkbox')
              div.skill_name(default='05') 법률
              input.sp(placeholder='')
              input.sp-add(placeholder='')
              input(class="value" value='05')
              span.halfvalue
              span.fifthvalue
            #disguise(order='11')
              input(type='checkbox')
              div.skill_name(default='05') 변장
              input.sp(placeholder='')
              input.sp-add(placeholder='')
              input(class="value" value='05')
              span.halfvalue
              span.fifthvalue
            #firearms_handgun(order='12')
              input(type='checkbox')
              div.skill_name(default='20') 사격(권총)
              input.sp(placeholder='')
              input.sp-add(placeholder='')
              input(class="value" value='20')
              span.halfvalue
              span.fifthvalue
            #firearms_rifle(order='13')
              input(type='checkbox')
              div.skill_name(default='25') 사격(라/산)
              input.sp(placeholder='')
              input.sp-add(placeholder='')
              input(class="value" value='25')
              span.halfvalue
              span.fifthvalue
            #persuade(order='14')
              input(type='checkbox')
              div.skill_name(default='10') 설득
              input.sp(placeholder='')
              input.sp-add(placeholder='')
              input(class="value" value='10')
              span.halfvalue
              span.fifthvalue
            #sleight_of_hand(order='15')
              input(type='checkbox')
              div.skill_name(default='10') 손놀림
              input.sp(placeholder='')
              input.sp-add(placeholder='')
              input(class="value" value='10')
              span.halfvalue
              span.fifthvalue
            #swim(order='16')
              input(type='checkbox')
              div.skill_name(default='20') 수영
              input.sp(placeholder='')
              input.sp-add(placeholder='')
              input(class="value" value='20')
              span.halfvalue
              span.fifthvalue
            #ride(order='17')
              input(type='checkbox')
              div.skill_name(default='05') 승마
              input.sp(placeholder='')
              input.sp-add(placeholder='')
              input(class="value" value='05')
              span.halfvalue
              span.fifthvalue
            #psychology(order='18')
              input(type='checkbox')
              div.skill_name(default='10') 심리학
              input.sp(placeholder='')
              input.sp-add(placeholder='')
              input(class="value" value='10')
              span.halfvalue
              span.fifthvalue
            #language_own(order='19')
              input(type='checkbox')
              div.skill_name(default='') 언어(모국어)
              input.sp(placeholder='')
              input.sp-add(placeholder='')
              input(class="value" placeholder='교육')
              span.halfvalue
              span.fifthvalue
            #history(order='20')
              input(type='checkbox')
              div.skill_name(default='05') 역사
              input.sp(placeholder='')
              input.sp-add(placeholder='')
              input(class="value" value='05')
              span.halfvalue
              span.fifthvalue
            #locksmith(order='21')
              input(type='checkbox')
              div.skill_name(default='01') 열쇠공
              input.sp(placeholder='')
              input.sp-add(placeholder='')
              input(class="value" value='01')
              span.halfvalue
              span.fifthvalue
            #climb(order='22')
              input(type='checkbox')
              div.skill_name(default='20') 오르기
              input.sp(placeholder='')
              input.sp-add(placeholder='')
              input(class="value" value='20')
              span.halfvalue
              span.fifthvalue
            #occult(order='23')
              input(type='checkbox')
              div.skill_name(default='05') 오컬트
              input.sp(placeholder='')
              input.sp-add(placeholder='')
              input(class="value" value='05')
              span.halfvalue
              span.fifthvalue
            #intimidate(order='24')
              input(type='checkbox')
              div.skill_name(default='15') 위협
              input.sp(placeholder='')
              input.sp-add(placeholder='')
              input(class="value" value='15')
              span.halfvalue
              span.fifthvalue
            #stealth(order='25')
              input(type='checkbox')
              div.skill_name(default='20') 은밀행동
              input.sp(placeholder='')
              input.sp-add(placeholder='')
              input(class="value" value='20')
              span.halfvalue
              span.fifthvalue
            #first_aid(order='26')
              input(type='checkbox')
              div.skill_name(default='30') 응급처치
              input.sp(placeholder='')
              input.sp-add(placeholder='')
              input(class="value" value='30')
              span.halfvalue
              span.fifthvalue
            #medicine(order='27')
              input(type='checkbox')
              div.skill_name(default='01') 의료
              input.sp(placeholder='')
              input.sp-add(placeholder='')
              input(class="value" value='01')
              span.halfvalue
              span.fifthvalue
            #anthropology(order='28')
              input(type='checkbox')
              div.skill_name(default='01') 인류학
              input.sp(placeholder='')
              input.sp-add(placeholder='')
              input(class="value" value='01')
              span.halfvalue
              span.fifthvalue
            #drive_auto(order='29')
              input(type='checkbox')
              div.skill_name(default='20') 자동차 운전
              input.sp(placeholder='')
              input.sp-add(placeholder='')
              input(class="value" value='20')
              span.halfvalue
              span.fifthvalue
            #library_use(order='30')
              input(type='checkbox')
              div.skill_name(default='20') 자료조사
              input.sp(placeholder='')
              input.sp-add(placeholder='')
              input(class="value" value='20')
              span.halfvalue
              span.fifthvalue
            #natural_world(order='31')
              input(type='checkbox')
              div.skill_name(default='10') 자연
              input.sp(placeholder='')
              input.sp-add(placeholder='')
              input(class="value" value='10')
              span.halfvalue
              span.fifthvalue
            #credit_rating(order='32')
              input(type='checkbox')
              div.skill_name(default='') 재력
              input.sp(placeholder='')
              input.sp-add(placeholder='')
              input(class="value" value='00')
              span.halfvalue
              span.fifthvalue
            #elec_repair(order='33')
              input(type='checkbox')
              div.skill_name(default='10') 전기수리
              input.sp(placeholder='')
              input.sp-add(placeholder='')
              input(class="value" value='01')
              span.halfvalue
              span.fifthvalue
            #psychoanalysis(order='34')
              input(type='checkbox')
              div.skill_name(default='01') 정신분석
              input.sp(placeholder='')
              input.sp-add(placeholder='')
              input(class="value" value='01')
              span.halfvalue
              span.fifthvalue
            #op_hv_machine(order='35')
              input(type='checkbox')
              div.skill_name(default='01') 중장비 조작
              input.sp(placeholder='')
              input.sp-add(placeholder='')
              input(class="value" value='01')
              span.halfvalue
              span.fifthvalue
            #track(order='36')
              input(type='checkbox')
              div.skill_name(default='10') 추적
              input.sp(placeholder='')
              input.sp-add(placeholder='')
              input(class="value" value='10')
              span.halfvalue
              span.fifthvalue
            #cthulhu_mythos(order='37')
              input(type='checkbox')
              div.skill_name(default='00') 크툴루 신화
              input.sp(placeholder='')
              input.sp-add(placeholder='')
              input(class="value" value='00')
              span.halfvalue
              span.fifthvalue
            #throw(order='38')
              input(type='checkbox')
              div.skill_name(default='20') 투척
              input.sp(placeholder='')
              input.sp-add(placeholder='')
              input(class="value" value='20')
              span.halfvalue
              span.fifthvalue
            #navigate(order='39')
              input(type='checkbox')
              div.skill_name(default='10') 항법
              input.sp(placeholder='')
              input.sp-add(placeholder='')
              input(class="value" value='10')
              span.halfvalue
              span.fifthvalue
            #accounting(order='40')
              input(type='checkbox')
              div.skill_name(default='05') 회계
              input.sp(placeholder='')
              input.sp-add(placeholder='')
              input(class="value" value='05')
              span.halfvalue
              span.fifthvalue
            #dodge(order='41')
              input(type='checkbox')
              div.skill_name(default='') 회피
              input.sp(placeholder='')
              input.sp-add(placeholder='')
              input(class="value" placeholder='민/2')
              span.halfvalue
              span.fifthvalue
            #otherskill1
              input(type='checkbox')
              .skill_name
                input.add._name(value='추가 기능')
                span (
                  input.add 
                  | %)
              input.sp(placeholder='')
              input.sp-add(placeholder='')
              input.value
              span.halfvalue
              span.fifthvalue
              span.skill_icon.remove
                <i class="fa-solid fa-trash-can"></i>
            button#add_skill <i class="fa-solid fa-circle-plus"></i>
        .sheet_box.weapons
          .title 무기
          .content
            .table_title 
              div 무기
              div 기능
              div 피해
              div db
              div 사거리
              div 공격 횟수
              div 탄약
              div 고장
            .table_item#weapon1
              input.name(type='text')
              input.skill(type='text')
              input.damage(type='text')
              input.db(type='text')
              input.attacks(type='text')
              input.range(type='text')
              input.ammo(type='text')
              input.malf(type='text')
              span.skill_icon.remove
                <i class="fa-solid fa-trash-can"></i>
            button#add_weapon <i class="fa-solid fa-circle-plus"></i>
        .sheet_box.backstory 
          .title 백스토리
          .content
            #personal_description
              .subtitle 겉보기
              textarea
            #ideaology_beliefs
              .subtitle 사상/신념
              textarea
            #significant_people
              .subtitle 중요한 사람들
              textarea
            #meaningful_locations
              .subtitle 의미 있는 장소들
              textarea
            #teasured_posessions 
              .subtitle 소중한 물건들
              textarea
            #traits 
              .subtitle 성격
              textarea
            #injuries_scars 
              .subtitle 부상과 흉터
              textarea
            #phobias_manias
              .subtitle 공포증과 집착증
              textarea
            #tomes_spells_artifacts
              .subtitle 신화서, 주문, 유물
              textarea
            #encounters_with_strange_entities
              .subtitle 기이한 존재들과의 만남
              textarea
        .sheet_box.money 
          .title 장비와 소지품
          .content 
            textarea#gear_and_posessions
          .title 현금과 자산 
            <i class="fa-solid fa-calculator"></i>
          .option
            input(type="radio", name="assets", value="1920")
            | 1920s
            input(type="radio", name="assets", value="modern")
            | 현대
          .content
            #spending_level
              span.subtitle 소비 수준
              input(type="text")
            #cash 
              span.subtitle 현금
              input(type="text")
            #assets
              .subtitle 자산
              textarea
    footer#footer
    //- script(src='../module.js')